@using System.Globalization;

@{

    ViewData["Title"] = "Vyhodnocení";
}

@model memo.ViewModels.DashboardVM

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

@* @foreach (var item in @Model)
{
    <p>Item: @item.Month, Penizky: @string.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C}", item.Cash)</p>
    <p>Item: @item.Month, Penizky: @item.Cash.ToString("C", CultureInfo.CreateSpecificCulture("ja-JP"))</p>
} *@
@*string.Format("{0:#.00}", Convert.ToDecimal(g.Sum(gi => gi.PriceFinalCzk))),
@for (int i = 0; i < @Model.Months.Count; i++)
{
    <p>Mesic: @Model.Months[i], Penizky: @Model.PlannedCashPerMonth[i]</p>
}
*@

<form class="form-inline" asp-action="Index" method="get">
    <div class="container d-flex" style="justify-content: space-around;">
        <div class="d-flex">
            <label class="border-right mx-2 pr-2">Časové období:</label>
            @* <a asp-action="Index" asp-route-filter="weeks" data-toggle="tooltip" title="Finance v rozmezí týdnů" class="btn btn-primary ml-2 mr-2">Týdny</a>
            <a asp-action="Index" asp-route-filter="months" data-toggle="tooltip" title="Finance v rozmezí měsíců" class="btn btn-primary ml-2 mr-2">Měsíce</a> *@
            <select asp-for="Filter" asp-items="@Model.FilterList" class="form-control shadow-sm auto-post" data-toggle="tooltip" title="Vyberte časové rozmezí">
                @* <option value="months" selected>Měsíce</option> *@
            </select>
        </div>
        <div class="d-flex">
            <label class="border-right mx-2 pr-2">Rok:</label>
            <select asp-for="Year" asp-items="@Model.YearList" class="form-control shadow-sm auto-post" data-toggle="tooltip" title="Zvolte rok">
                @* <option value="2020" selected>2020</option> *@
            </select>
        </div>
        <div class="d-flex">
            <label class="border-right mx-2 pr-2">Oddělení:</label>
            <select asp-for="Department" asp-items="@Model.DepartmentList" class="form-control shadow-sm auto-post" data-toggle="tooltip" title="Zvolte oddělení">
                @* <option value="all">Všechny</option> *@
            </select>
        </div>
        @* <a asp-action="Index" data-toggle="tooltip" title="Filtrovat" class="btn btn-primary ml-5"><i class="fa fa-filter fa-fw"></i>Filtrovat</a> *@
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter fa-fw"></i>Filtrovat</button>
    </div>
</form>

<hr />

<div class="container d-flex" style="justify-content: space-around;">
    <p>(DEBUG)</p>
    <p>filter: @Model.Filter</p>
    <p>Year: @Model.Year</p>
    <p>Department: @Model.Department</p>
</div>

<hr />

<div class="container d-flex justify-content-center">

    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-title text-center">
                <h5>Očekávaný příjem</h5>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div id="chart_container" style="width: 400px;">
                    <canvas id="bar_chart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-title text-center">
                <h5>Status nabídek</h5>
                <h6>(Dle data přijetí poptávky)</h6>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div id="chart_container" style="width: 400px;">
                    <canvas id="chart_wonOffers" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
<script>

    $(document).ready(function () {
        $('form').find('select.auto-post').change(function () {
            $(this).parents('form').submit();
        });
    });

    @* var monthArray = @Json.Serialize(Model.Months); *@
    @* var cashArray = @Json.Serialize(Model.PlannedCashPerMonth); *@
    @* var monthArray = @Json.Serialize(Model.Months); *@
    @* var cashArray = @Json.Serialize(Model.PlannedCashPerMonth); *@

    // -----------------------------------------
    // Graf - Očekávaný příjem v průběhu měsíců
    // -----------------------------------------
    var filter = @Html.Raw(Json.Serialize(Model.Filter))
    var items = @Html.Raw(Json.Serialize(Model.DashboardCashVM));

    if (filter == "months")
    {
        var monthArray = items.map(a => new Date(a.month).toLocaleString('cs-CZ', { month: 'long' }));
    }
    else if(filter == "weeks")
    {
        var monthArray = items.map(a => a.week);
    }
    var cashArray = items.map(a => a.cash);

    var ctx = document.getElementById('bar_chart');

    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: monthArray,
            datasets: [{
                label: 'Příjem v Kč',
                data: cashArray,
                fillColor: "#79D1CF",
                backgroundColor: 'rgba(0, 123, 255, 0.4)',
                borderColor: 'rgba(0, 123, 255, 0.8)',
                borderWidth: 1,
                barPercentage: 0.5,
            }]
        },
        options: {
            //title: {
            //    display: true,
            //    text: 'Finance Eve v měsících roku 2020',
            //},
            scales: {
                yAxes: [{
                    //display: true,
                    ticks: {
                        beginAtZero: true,
                        //steps: 5,
                        //stepValue: 200000,
                        //max: 1000000,
                        callback: function(value, index, values) {
                            return value.toLocaleString('cs-CZ') + ' Kč';
                        }
                    }
                }],
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        return tooltipItem.yLabel.toLocaleString('cs-CZ') + ' Kč';
                    }
                }
            }
        }
    });

    // ------------------------------------------------------
    // Graf - Vyhrané/celkem zadané nabídky v průběhu měsíců
    // ------------------------------------------------------
    var ctx = document.getElementById('chart_wonOffers');

    var items = @Html.Raw(Json.Serialize(Model.DashboardWonOffersVM));
    //var monthArray = items.map(a => new Date(a.month).toLocaleString('cs-CZ', { month: 'long' }));
    var monthArray = items.map(a => new Date(a.month).toLocaleString('cs-CZ', { month: 'long' }));
    var allArray = items.map(a => a.all);
    var waitArray = items.map(a => a.wait);
    var wonArray = items.map(a => a.won);
    var lostArray = items.map(a => a.lost);

    var barChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: monthArray,
            datasets: [
                //{
                //    label: 'Celkem',
                //    data: allArray,
                //    fillColor: "#79D1CF",
                //    backgroundColor: 'rgba(206, 212, 218, 0.6)',
                //    borderColor: 'rgba(206, 212, 218, 0.9)',
                //    borderWidth: 1,
                //    barPercentage: 0.7,
                //
                //},
                {
                    label: 'Čekají',
                    data: waitArray,
                    fillColor: "#79D1CF",
                    backgroundColor: 'rgba(0, 0, 255, 0.6)',
                    borderColor: 'rgba(20, 20, 235, 0.9)',
                    borderWidth: 1,
                    barPercentage: 0.8,
                },
                {
                    label: 'Vyhrané',
                    data: wonArray,
                    fillColor: "#79D1CF",
                    backgroundColor: 'rgba(0, 255, 0, 0.6)',
                    borderColor: 'rgba(20, 235, 20, 0.9)',
                    borderWidth: 1,
                    barPercentage: 0.8,
                },
                {
                    label: 'Prohrané',
                    data: lostArray,
                    fillColor: "#79D1CF",
                    backgroundColor: 'rgba(255, 0, 0, 0.6)',
                    borderColor: 'rgba(230, 20, 20, 0.9)',
                    borderWidth: 1,
                    barPercentage: 0.8,
                },

            ]
        },
        options: {
            //title: {
            //    display: true,
            //    text: 'Finance Eve v měsících roku 2020',
            //},
            scales: {
                xAxes: [{
                    //display: true,
                    ticks: {
                        beginAtZero: true,
                        steps: 1,
                        stepValue: 1,
                        min: 0,
                        //max: 1000000,
                        callback: function(value, index, values) {
                            return value.toLocaleString('cs-CZ');
                        }
                    }
                }],
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        return ' ' + tooltipItem.xLabel.toLocaleString('cs-CZ') + ' / ' + allArray[tooltipItem.index];
                        //return tooltipItem.xLabel.toLocaleString('cs-CZ');
                    }
                }
            }
        }
    });

</script>
}
