@using System.Globalization;

@{

    ViewData["Title"] = "Vyhodnocení";
}

@model IEnumerable<memo.ViewModels.DashboardVM>

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

@* @foreach (var item in @Model)
{
    <p>Item: @item.Month, Penizky: @string.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C}", item.Cash)</p>
    <p>Item: @item.Month, Penizky: @item.Cash.ToString("C", CultureInfo.CreateSpecificCulture("ja-JP"))</p>
} *@
@*string.Format("{0:#.00}", Convert.ToDecimal(g.Sum(gi => gi.PriceFinalCzk))),
@for (int i = 0; i < @Model.Months.Count; i++)
{
    <p>Mesic: @Model.Months[i], Penizky: @Model.PlannedCashPerMonth[i]</p>
}
*@

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-title text-center">
            <h5>Očekávaný příjem</h5>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div id="chart_container" style="width: 400px;">
                <canvas id="bar_chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>


@section scripts{
<script>

    @* var monthArray = @Json.Serialize(Model.Months); *@
    @* var cashArray = @Json.Serialize(Model.PlannedCashPerMonth); *@
    @* var monthArray = @Json.Serialize(Model.Months); *@
    @* var cashArray = @Json.Serialize(Model.PlannedCashPerMonth); *@

    var items = @Html.Raw(Json.Serialize(Model));
    var monthArray = items.map(a => new Date(a.month).toLocaleString('cs-CZ', { month: 'long' }));
    var cashArray = items.map(a => a.cash);

    var ctx = document.getElementById('bar_chart');

    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: monthArray,
            datasets: [{
                label: 'Příjem v Kč',
                data: cashArray,
                fillColor: "#79D1CF",
                backgroundColor: 'rgba(0, 123, 255, 0.4)',
                borderColor: 'rgba(0, 123, 255, 0.8)',
                borderWidth: 1,

            }]
        },
        options: {
            //title: {
            //    display: true,
            //    text: 'Finance Eve v měsících roku 2020',
            //},
            scales: {
                yAxes: [{
                    //display: true,
                    ticks: {
                        beginAtZero: true,
                        //steps: 5,
                        //stepValue: 200000,
                        //max: 1000000,
                        callback: function(value, index, values) {
                            return value.toLocaleString('cs-CZ') + ' Kč';
                        }
                    }
                }],
                xAxes: [{
                    barPercentage: 0.5,
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        return tooltipItem.yLabel.toLocaleString('cs-CZ') + ' Kč';
                    }
                }
            }
        }
    });
</script>
}
