@model memo.Models.Company

@{
    ViewData["Title"] = "Úprava firmy";
}


<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<style>
    .cardTitleMerged {
        display: flex;
        justify-content: space-between;
    }
</style>


<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyId" />

            <div class="cardTitleMerged">

                <h5 class="card-title">Upravit firmu</h5>

                <div class="form-group">
                    <div class="pretty p-bigger p-default p-curve p-toggle">
                        <input asp-for="Active" type="checkbox"/>
                        <div class="state p-success p-on">
                            <label>Aktivní</label>
                        </div>
                        <div class="state p-danger p-off">
                            <label>Neaktivní </label>
                        </div>
                    </div>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
            </div>

            <hr />

            <div class="form-group row">
                <label asp-for="Name" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-4">
                    <input asp-for="Name" class="form-control" type="text" placeholder="Název firmy"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="City" class="col-lg-3 col-form-label form-control-label control-label">Adresa</label>
                <div class="col-lg-4">
                    <input asp-for="City" class="form-control" type="text" placeholder="Město"/>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-lg-5">
                    <input asp-for="Address" class="form-control" type="text" placeholder="Ulice"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Phone" class="col-lg-3 col-form-label form-control-label control-label">Kontakt</label>
                <div class="col-lg-4">
                    <input asp-for="Phone" class="form-control" type="text" placeholder="Telefoní číslo"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-lg-5">
                    <input asp-for="Web" class="form-control" type="text" placeholder="https://"/>
                    <span asp-validation-for="Web" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="InvoiceDueDays" class="required col-lg-3 col-form-label form-control-label control-label">Splatnost faktury</label>
                <div class="col-lg-3">
                    <div class="input-group mb-2 mr-sm-2">
                        <input asp-for="InvoiceDueDays" class="form-control" type="text" required="" />
                        <div class="input-group-append">
                            <div class="input-group-text">dní</div>
                        </div>
                    </div>
                    <span asp-validation-for="InvoiceDueDays" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    @* @Html.TextAreaFor(m => m.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CreateDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3 mycalendar">
                    <input asp-for="CreateDate" class="form-control" type="text" readonly/>
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3">
                    <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
                </div>
                <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Resetovat pole" data-toggle="tooltip" title="Vrátí neuložené úpravy"/>
                    <input type="submit" class="btn btn-primary" name="actionType" value="Uložit" />
                    <input type="submit" class="btn btn-primary" name="actionType" value="Uložit a zavřít" />
                    <a href="#" class="btn btn-danger pull-right" onclick="ConfirmDelete(@Model.CompanyId)">Smazat</a>
                </div>
            </div>

        </form>
    </div>
</div>



<!-- Modal Confirm Delete-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Smazání nabídky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?<br />
                Název firmy: <b>@Model.Name</b><br />
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-warning" onclick="DeactivateItem()">Deaktivovat</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>

    <script>

        // MODAL dialog for delete confirmation
        //-------------------------------------
        var ConfirmDelete = function (ItemId) {
            $("#deleteConfirmModal").modal('show');
        };

        // POST delete command to controller
        //----------------------------------
        function DeleteItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { Id: @Model.CompanyId },
                beforeSend: function (request) {
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = '../'
                },
                error: function() {
                    alert("Nelze z nějakého důvodu odstranit...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

        // POST deactivate command to controller
        //----------------------------------
        function DeactivateItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Deactivate")',
                data: { Id: @Model.CompanyId },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = './' + @Model.CompanyId
                },
                error: function() {
                    alert("Nelze z nějakého důvodu deaktivovat...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

    </script>
}