@{
    ViewData["Title"] = "Firmy";
}

@model IEnumerable<memo.Models.Company>

<div class="text-center">
    <h1 class="display-4">Firmy</h1>

</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Jméno</th>
            <th scope="col">Město</th>
            <th scope="col">Adresa</th>
            <th scope="col">Telefon</th>
            <th scope="col">Vytvořeno</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <th scope="row"><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></th>
                <th scope="row">@company.Name</th>
                <th scope="row">@company.City</th>
                <th scope="row">@company.Address</th>
                <th scope="row">@company.Phone</th>
                <th scope="row">@String.Format("{0:dd.MM.yyyy}", @company.CreateDate)</th>
            </tr>
        }
    </tbody>
</table>