@model memo.ViewModels.BugReportVM
@using memo.ViewModels
@using memo.Helpers
@using Newtonsoft.Json
@using System.Globalization
@using System.Reflection
@using System.ComponentModel.DataAnnotations

<style>
    .has-float-label {
        margin-top: 0.6rem;
    }
</style>

<div class="text-center">
    <p>User: @ViewBag.User, role: @ViewBag.Role</p>
</div>

@await Html.PartialAsync("_PartialToastNotification")

<div class="col-lg-13 personal-info">
<div class="card">

    <h4>Vytvořit:</h4>

    <hr />

    <form asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row col-lg-13">
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select asp-for="BugReport.Priority" asp-items="@Model.PriorityList" class="form-control" placeholder=" " type="text"></select>
                    <label asp-for="BugReport.Priority">Priorita</label>
                </span>
                <span asp-validation-for="BugReport.Priority" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select asp-for="BugReport.Category" asp-items="@Model.CategoryList" class="form-control" placeholder=" " type="text"></select>
                    <label asp-for="BugReport.Category">Kategorie</label>
                </span>
                <span asp-validation-for="BugReport.Category" class="text-danger"></span>
            </div>
            <div class="col-lg-7">
                <span class="has-float-label">
                    <input asp-for="BugReport.Subject" class="form-control" placeholder=" " type="text" required />
                    <label asp-for="BugReport.Subject">Předmět</label>
                </span>
                <span asp-validation-for="BugReport.Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <span class="has-float-label">
                    <textarea asp-for="BugReport.Details" class="form-control" placeholder=" " type="text" ></textarea>
                    <label asp-for="BugReport.Details">Popis</label>
                </span>
                <span asp-validation-for="BugReport.Details" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row justify-content-md-between">
            <div class="col-lg-auto">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-auto">
                <input type="submit" class="btn btn-primary" value="Vytvořit" />
            </div>
        </div>    </form>

</div>
</div>

<div class="bug-report">
    <div class="card">
        @foreach (BugReport item in Model.BugReports.Reverse())
        {
            <div class="card py-0 p-0 mb-3">
                <div class="card-header px-3 mx-0 py-1">
                    <div class="d-flex justify-content-between">
                        <div class="flex-row">
                                <a asp-action="Delete" asp-route-id="@item.BugReportId" onclick="return confirm('Jste si jisti, že chcete smazat tuto položku?');"><i class="fa fa-times fa-fw" style="color: red;"></i></a>
                                @* <a asp-action="Edit" asp-route-id="@item.BugReportId"><i class="fa fa-pencil fa-fw border-right pr-2 mr-2"></i></a> *@

                                @{string priorityText = item.Priority == "Critical" ? "Kritická!!" : (item.Priority == "Major" ? "Závažná" : (item.Priority == "Normal" ? "Normální" : "Vedlejší"));}
                                <b class="pl-3">Priorita:</b> @priorityText

                                @{string categoryIcon = item.Category == "Bug" ? "bug" : (item.Category == "Missing" ? "search-minus" : "exclamation-triangle" );}
                                <b class="pl-3">Kategorie:</b> <i class="fa fa-fw fa-@categoryIcon"></i>

                                @{string statusColor = item.Resolved == false ? "red" : "green";}
                                <b class="pl-3">Status:</b> <i class="fa fa-fw fa-circle" style="color: @statusColor"></i>

                        </div>
                        <div class="flex-row">
                                <i class="fa fa-fw fa-user"></i> @item.CreatedBy <i class="fa fa-fw fa-calendar ml-3"></i> @item.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @item.Subject

                    @if (@Html.Raw(item.Details).ToString() != "")
                    {
                        <hr />
                        <p class="text-muted" style="position: absolute;
                                                     top: 84px;
                                                     left: 30px;
                                                     background: white;
                                                     padding: 0px 4px;
                                                     font-size: small;">Detaily</p>
                        <p>@Html.Raw(item.Details)</p>
                    }

                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(document).ready(function() {
        $('#BugReport_Details').summernote({
            placeholder: 'Vložte popis.<br>Můžete vkládat i snímek obrazovky (PrintScreen) ze schránky (CTRL+C/V) nebo obrázky jako takové.',
            tabsize: 4,
            height: 160,
            lang: 'cs-CZ',
            //toolbar: [
            //    ['style', ['style']],
            //    ['font', ['bold', 'underline', 'clear']],
            //    ['color', ['color']],
            //    ['para', ['ul', 'ol', 'paragraph']],
            //    ['table', ['table']],
            //    ['insert', ['link', 'picture', 'video']],
            //    ['view', ['fullscreen', 'codeview', 'help']],
            //]
        });
    });

</script>
}
