@model memo.ViewModels.BugReportVM

<style>
    .has-float-label {
        margin-top: 0.6rem;
    }
</style>

<div class="text-center">
    <p>User: @ViewBag.User, role: @ViewBag.Role</p>
</div>

@await Html.PartialAsync("_PartialToastNotification")

<div class="col-lg-13 personal-info">
<div class="card">

    <h4>Vytvořit:</h4>

    <hr />

    <form asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row col-lg-13">
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select asp-for="BugReport.Priority" asp-items="@Model.PriorityList" class="form-control" placeholder=" " type="text"></select>
                    <label asp-for="BugReport.Priority">Závažnost</label>
                </span>
                <span asp-validation-for="BugReport.Priority" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select asp-for="BugReport.Category" asp-items="@Model.CategoryList" class="form-control" placeholder=" " type="text"></select>
                    <label asp-for="BugReport.Category">Kategorie</label>
                </span>
                <span asp-validation-for="BugReport.Category" class="text-danger"></span>
            </div>
            <div class="col-lg-7">
                <span class="has-float-label">
                    <input asp-for="BugReport.Subject" class="form-control" placeholder=" " type="text" />
                    <label asp-for="BugReport.Subject">Předmět</label>
                </span>
                <span asp-validation-for="BugReport.Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <span class="has-float-label">
                    <textarea asp-for="BugReport.Details" class="form-control" placeholder=" " type="text" ></textarea>
                    <label asp-for="BugReport.Details">Popis</label>
                </span>
                <span asp-validation-for="BugReport.Details" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row justify-content-md-between">
            <div class="col-lg-auto">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-auto">
                <input type="submit" class="btn btn-primary" value="Vytvořit" />
            </div>
        </div>    </form>

</div>
</div>

<div class="bug-report">
    <div class="card">
        @foreach (BugReport item in Model.BugReports)
        {
            <div class="card pb-0 pt-3 mb-3">
                <p class="pb-0 mb-0">
                    <a asp-action="Delete" asp-route-id="@item.BugReportId"><i class="fa fa-times fa-fw"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.BugReportId"><i class="fa fa-pencil fa-fw border-right pr-2 mr-2"></i></a>
                    <b>Id:</b> @item.BugReportId
                    <b class="pl-3">Priority:</b> @item.Priority
                    <b class="pl-3">Category:</b> @item.Category
                    <b class="pl-3">Subject:</b> @item.Subject
                </p>

                <hr class="pt-1 mb-1" />

                <p>
                @* <b class="pl-3">Details:</b> @Html.Raw(item.Details?.Replace("\n", "<br/>")) *@
                @Html.Raw(item.Details)
                </p>
                <p>
                <b class="pl-3">Resolved:</b> @item.Resolved
                <b class="pl-3">Created:</b> @item.Created.ToString("yyyy-MM-dd HH:mm")
                <b class="pl-3">User:</b> @item.User
                </p>
            </div>
        }
    </div>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(document).ready(function() {
        $('#BugReport_Details').summernote({
            placeholder: 'Vložte popis.<br>Můžete vkládat i snímek obrazovky (PrintScreen) ze schránky (CTRL+C/V) nebo obrázky jako takové.',
            tabsize: 4,
            height: 160,
            //toolbar: [
            //    ['style', ['style']],
            //    ['font', ['bold', 'underline', 'clear']],
            //    ['color', ['color']],
            //    ['para', ['ul', 'ol', 'paragraph']],
            //    ['table', ['table']],
            //    ['insert', ['link', 'picture', 'video']],
            //    ['view', ['fullscreen', 'codeview', 'help']],
            //]
        });
    });

</script>
}
