@{
    ViewData["Title"] = "Nová nabídka";
}

@model memo.ViewModels.OfferViewModel

@await Html.PartialAsync("_PartialToastNotification")

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Offer.OfferName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Offer.OfferName" class="form-control" placeholder="EV(E)-quo/rrrr/dddd" type="text" />
                    <label asp-for="Offer.OfferName"></label>
                </span>
                <span asp-validation-for="Offer.OfferName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.ReceiveDate" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.ReceiveDate" class="form-control" type="text" placeholder=" " required="" autocomplete="off"/>
                    <label asp-for="Offer.ReceiveDate">Datum přijetí poptávky</label>
                </span>
                <span asp-validation-for="Offer.ReceiveDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SentDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.SentDate" class="form-control" type="text" placeholder=" " autocomplete="off"/>
                    <label asp-for="Offer.SentDate">Datum odeslání nabídky</label>
                </span>
                <span asp-validation-for="Offer.SentDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.Subject" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Offer.Subject" class="form-control" placeholder="Krátký popis nabídky" type="text" />
                    <label asp-for="Offer.Subject">Předmět nabídky</label>
                </span>
                <span asp-validation-for="Offer.Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row eveOffer">
            <label class="col-lg-3 col-form-label form-control-label control-label">Evektor</label>
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select class="form-control" asp-for="Offer.EveDivision" asp-items="@Model.Offer.EveDivisionList"></select>
                    <label asp-for="Offer.EveDivision">Divize</label>
                </span>
                <span asp-validation-for="Offer.EveDivision" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <span class="has-float-label">
                    <select asp-for="Offer.EveDepartment" asp-items="ViewBag.DepartmentList" class="form-control"></select>
                    <label asp-for="Offer.EveDepartment">Oddělení</label>
                </span>
                <span asp-validation-for="Offer.EveDepartment" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <select class="form-control selectpicker" asp-for="Offer.EveCreatedUser" asp-items="@ViewBag.EveContactList" required>
                    @* <option value="">-- Vyber uživatele --</option> *@
                </select>
                <span asp-validation-for="Offer.EveCreatedUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row customerOffer">
            <label class="required col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
            <div class="col-lg-4">
                <select class="form-control selectpicker" asp-for="Offer.CompanyId" asp-items="@Model.CompanyList">
                    <option value="">-- Vyber firmu --</option>
                </select>
                <span asp-validation-for="Offer.CompanyId" class="text-danger"></span>
            </div>
            <div class="col-lg-1" data-toggle="tooltip" title="Nová firma">
                <a asp-action="create" asp-controller="Companies" target="_blank">
                    <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                </a>
            </div>
            <div class="col-lg-3">
                <select class="form-control selectpicker" asp-for="Offer.ContactId" asp-items="@ViewBag.ContactList">
                    <option value="">-- Vyber kontakt --</option>
                </select>
                <span asp-validation-for="Offer.ContactId" class="text-danger"></span>
            </div>
            <div class="col-lg-1" data-toggle="tooltip" title="Nový kontakt">
                <a asp-action="create" asp-controller="Contacts" target="_blank">
                    <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                </a>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.Price" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                <span class="has-float-label">
                    <input asp-for="Offer.Price" class="form-control" type="text" placeholder=" "/>
                    <label asp-for="Offer.Price">Cena bez DPH</label>
                </span>
                <span asp-validation-for="Offer.Price" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <span class="has-float-label">
                    <select asp-for="Offer.CurrencyId" asp-items="ViewBag.CurrencyList" class="form-control"></select>
                    <label asp-for="Offer.CurrencyId">Měna</label>
                </span>
                <span asp-validation-for="Offer.Currency" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <span class="has-float-label">
                    <input asp-for="Offer.ExchangeRate" class="form-control" type="text" data-toggle="tooltip" data-placement="top" title="Měnový kurz z ČNB" />
                    <label asp-for="Offer.ExchangeRate">Kurz</label>
                </span>
                <span asp-validation-for="Offer.ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.EstimatedFinishDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.EstimatedFinishDate" class="form-control" type="text" autocomplete="off" placeholder=" "/>
                    <label asp-for="Offer.EstimatedFinishDate">Předpodkládaný termín ukončení</label>
                </span>
                <span asp-validation-for="Offer.EstimatedFinishDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <textarea asp-for="Offer.Notes" class="form-control" placeholder=" "></textarea>
                    <label asp-for="Offer.Notes">Poznámky</label>
                </span>
                <span asp-validation-for="Offer.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Vytvořit nabídku" />
            </div>
        </div>

        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function(){

            checkItemNameExists($("#Offer_OfferName"), 'Offers');

            $('.mycalendar input').datepicker(datepickerParameters[0]);

            $("#Offer_OfferName").keyup(function() {
                checkItemNameExists($(this), 'Offers');
            });

            function changeExchangeRate(curSymbol) {
                $.ajax({
                    url: '@Url.Action("getCurrencyStr", "Offers")',
                    type: 'GET',
                    //dataType: 'json',
                    // we set cache: false because GET requests are often cached by browsers
                    // IE is particularly aggressive in that respect
                    cache: false,
                    data: { symbol: curSymbol },
                    success: function(res) {
                        $('#ExchangeRate').val(res);
                    }
                });
            }

            $('#CurrencyId').change(function() {
                var sel = document.getElementById('CurrencyId');
                var opt = sel.options[sel.selectedIndex];
                curSymbol = opt.text
                console.log("Changing... to " + curSymbol);
                changeExchangeRate(curSymbol);
            });

        })

    </script>

}

