@{
    ViewData["Title"] = "Nová nabídka";
}

@model memo.ViewModels.OfferViewModel

@await Html.PartialAsync("_Partial_ToastNotification")

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Offer.OfferName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Offer.OfferName" class="form-control" placeholder="EV(E)-quo/rrrr/dddd" type="text" />
                    <label asp-for="Offer.OfferName"></label>
                </span>
                <span asp-validation-for="Offer.OfferName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SharedInfo.ReceiveDate" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.SharedInfo.ReceiveDate" class="form-control" type="text" placeholder=" " required="" autocomplete="off"/>
                    <label asp-for="Offer.SharedInfo.ReceiveDate">Datum přijetí poptávky</label>
                </span>
                <span asp-validation-for="Offer.SharedInfo.ReceiveDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SentDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.SentDate" class="form-control" type="text" placeholder=" " autocomplete="off"/>
                    <label asp-for="Offer.SentDate">Datum odeslání nabídky</label>
                </span>
                <span asp-validation-for="Offer.SentDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SharedInfo.Subject" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Offer.SharedInfo.Subject" class="form-control" placeholder="Krátký popis nabídky" type="text" />
                    <label asp-for="Offer.SharedInfo.Subject">Předmět nabídky</label>
                </span>
                <span asp-validation-for="Offer.SharedInfo.Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row eveOffer">
            <label class="col-lg-3 col-form-label form-control-label control-label">Evektor</label>
            <div class="col-lg-2">
                <span class="floating-select-label">Divize</span>
                <select class="form-control" asp-for="Offer.SharedInfo.EveDivision" asp-items="@Model.Offer.EveDivisionList"></select>
                <span asp-validation-for="Offer.SharedInfo.EveDivision" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <span class="floating-select-label">Oddělení</span>
                <select asp-for="Offer.SharedInfo.EveDepartment" class="form-control select-department-ajax"></select>
                <span asp-validation-for="Offer.SharedInfo.EveDepartment" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <span class="floating-select-label">Uživatel</span>
                <select asp-for="Offer.SharedInfo.EveCreatedUser" class="form-control select-user-ajax"></select>
                <span asp-validation-for="Offer.SharedInfo.EveCreatedUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row customerOffer">
            <label class="required col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
            <div class="col-lg-4">
                <span class="floating-select-label">Firma zákazníka</span>
                <select asp-for="Offer.SharedInfo.CompanyId" class="form-control select-company-ajax"></select>
                <span asp-validation-for="Offer.SharedInfo.CompanyId" class="text-danger"></span>
            </div>
            <div class="col-lg-1" data-toggle="tooltip" title="Nová firma">
                <a asp-action="create" asp-controller="Companies" target="_blank">
                    <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                </a>
            </div>
            <div class="col-lg-3">
                <span class="floating-select-label">Kontakt</span>
                <select asp-for="Offer.SharedInfo.ContactId" class="form-control select-contact-ajax"></select>
                <span asp-validation-for="Offer.SharedInfo.ContactId" class="text-danger"></span>
            </div>
            <div class="col-lg-1" data-toggle="tooltip" title="Nový kontakt">
                <a asp-action="create" asp-controller="Contacts" class="modular-company-id" target="_blank">
                    <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                </a>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SharedInfo.Price" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                <span class="has-float-label">
                    <input asp-for="Offer.SharedInfo.Price" class="form-control" type="text" placeholder=" "/>
                    <label asp-for="Offer.SharedInfo.Price">Cena bez DPH</label>
                </span>
                <span asp-validation-for="Offer.SharedInfo.Price" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <span class="has-float-label" data-toggle="tooltip" title="Aktuální kurz ČNB">
                    <select asp-for="Offer.SharedInfo.CurrencyId" asp-items="Model.CurrencyList" class="form-control"></select>
                    <label asp-for="Offer.SharedInfo.CurrencyId">Měna</label>
                </span>
                <span asp-validation-for="Offer.SharedInfo.CurrencyId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.SharedInfo.EstimatedFinishDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <span class="has-float-label">
                    <input asp-for="Offer.SharedInfo.EstimatedFinishDate" class="form-control" type="text" autocomplete="off" placeholder=" "/>
                    <label asp-for="Offer.SharedInfo.EstimatedFinishDate">Předpodkládaný termín ukončení</label>
                </span>
                <span asp-validation-for="Offer.SharedInfo.EstimatedFinishDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Offer.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <textarea asp-for="Offer.Notes" class="form-control" placeholder=" "></textarea>
                    <label asp-for="Offer.Notes">Poznámky</label>
                </span>
                <span asp-validation-for="Offer.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Vytvořit nabídku" />
            </div>
        </div>

        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        // Clear and unselect '.select-contact-ajax' when '.select-company-ajax' changes it's value
        $('.select-company-ajax').on('select2:select', function (e) {
            $(".select-contact-ajax").val(null).empty().trigger('change');
        });

        $(document).ready(function(){

            // Add attribute when changing Selectlist value
            var originalHref = $('.modular-company-id').attr('href');
            $('#Offer_SharedInfo_CompanyId').change(function () {
                $('.modular-company-id').attr('href', originalHref + "?companyId=" + $(this).children('option:selected').val());
            })

            // DEFAULT VALUES
            // =======================================
            $('.select-department-ajax').append(new Option('@Html.Raw(Model.Offer.SharedInfo.EveDepartment)', '@Html.Raw(Model.Offer.SharedInfo.EveDepartment)', false, false)).trigger('change');
            $('.select-user-ajax').append(new Option('@Html.Raw(Model.Offer.SharedInfo.EveCreatedUser)', '@Html.Raw(Model.Offer.SharedInfo.EveCreatedUser)', false, false)).trigger('change');

            // INITIALIZATIONS
            // =======================================
            $('.mycalendar input').datepicker(datepickerParameters[0]);

            checkItemNameExists($("#Offer_OfferName"), 'Offers');

            $("#Offer_OfferName").keyup(function() {
                checkItemNameExists($(this), 'Offers');
            });


            function changeExchangeRate(curSymbol) {
                $.ajax({
                    url: '@Url.Action("getCurrencyStr", "Offers")',
                    type: 'GET',
                    cache: false,
                    data: { symbol: curSymbol },
                    success: function(res) {
                        $('#ExchangeRate').val(res);
                    }
                });
            }

            $('#CurrencyId').change(function() {
                var sel = document.getElementById('CurrencyId');
                var opt = sel.options[sel.selectedIndex];
                curSymbol = opt.text
                console.log("Changing... to " + curSymbol);
                changeExchangeRate(curSymbol);
            });

        })

    </script>

}

