@{
    ViewData["Title"] = "Nová nabídka";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.Models.Offer


<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="ReceiveDate" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="ReceiveDate" class="form-control" type="text" required="" autocomplete="off"/>
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SentDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="SentDate" class="form-control" type="text" autocomplete="off"/>
                <span asp-validation-for="SentDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Subject" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="Subject" class="form-control" type="text" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row eveOffer">
            <label class="col-lg-3 col-form-label form-control-label control-label">Evektor</label>
            <div class="col-lg-2">
                @Html.DropDownList("EveDivision", new SelectList(Model.EveDivisionList, "Value", "Text", "-- Divize --"), new { @class = "form-control selectpicker"})
                <span asp-validation-for="EveDivision" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("EveDepartment", new SelectList(ViewBag.DepartmentList, "Value", "Text"), new { @class = "form-control selectpicker"})
                <span asp-validation-for="EveDepartment" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("EveCreatedUser", new SelectList(ViewBag.EveContactList, "Value", "Text"), new { @class = "form-control selectpicker"})
                <span asp-validation-for="EveCreatedUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row customerOffer">
            <label class="required col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
            <div class="col-lg-5">
                @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyList as SelectList, "-- Vyber firmu --", new { @class = "form-control selectpicker" })
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.ContactId, ViewBag.ContactList as SelectList, "-- Vyber kontakt --", new { @class = "form-control selectpicker" })
                <span asp-validation-for="ContactId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                <input asp-for="Price" class="form-control" type="text"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                @Html.DropDownListFor(model => model.CurrencyId, ViewBag.CurrencyList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <input asp-for="ExchangeRate" class="form-control" type="text" onchange="this.value = this.value.replace(/,/g, '.')"/>
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Notes" class="form-control"></textarea>
                @* @Html.TextAreaFor(m => m.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Vyprázdnit pole" />
                <input type="submit" class="btn btn-primary" value="Vytvořit nabídku" />
            </div>
        </div>

        @Html.CheckBoxFor(m => m.Active, new { style = "display:none", @checked="checked" })

        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function(){

            $('.mycalendar input').datepicker({
                // format: "dd.mm.yyyy",
                // startDate: "01.01.1980",
                // endDate: "01.01.2021",
                format: "yyyy-mm-dd",
                startDate: "1980-01-01",
                endDate: "2021-01-01",
                todayBtn: "linked",
                language: "cs",
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });


            function changeExchangeRate(curSymbol) {
                $.ajax({
                    url: '@Url.Action("getCurrency", "Offers")',
                    type: 'GET',
                    //dataType: 'json',
                    // we set cache: false because GET requests are often cached by browsers
                    // IE is particularly aggressive in that respect
                    cache: false,
                    data: { symbol: curSymbol },
                    success: function(res) {
                        $('#ExchangeRate').val(res);
                    }
                });
            }

            $('#CurrencyId').change(function() {
                var sel = document.getElementById('CurrencyId');
                var opt = sel.options[sel.selectedIndex];
                curSymbol = opt.text
                console.log("Changing... to " + curSymbol);
                changeExchangeRate(curSymbol);
            });

        })

    </script>

}

