@{
    ViewData["Title"] = "Úprava nabídky";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.Models.Offer

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>


<div class="container">
    <div class="col-lg-8 push-lg-4 personal-info">
        <form role="form" autocomplete="on" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OfferId" />

        <div class="form-group row">
            <label asp-for="OfferName" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="OfferName" class="form-control" type="text" required="" placeholder="EV-obj/rrrr/####"/>
                <span asp-validation-for="OfferName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ReceiveDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="ReceiveDate" class="form-control" type="text" required="" autocomplete="off"/>
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SentDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="SentDate" class="form-control" type="text" autocomplete="off"/>
                <span asp-validation-for="SentDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Subject" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="Subject" class="form-control" type="text" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label control-label">Evektor</label>
            <div class="col-lg-2">
                @Html.DropDownList("EveDivision", new SelectList(Model.EveDivisionList, "Value", "Text", "-- Divize --"), new { @class = "form-control"})
                <span asp-validation-for="EveDivision" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("EveDepartment", new SelectList(ViewBag.DepartmentList, "Value", "Text"), new { @class = "form-control"})
                <span asp-validation-for="EveDepartment" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <input asp-for="EveCreatedUser" class="form-control" type="text" placeholder="Uživatelské jméno"/>
                <span asp-validation-for="EveCreatedUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
            <div class="col-lg-5">
                @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyList as SelectList, "-- Vyber firmu --", new { @class = "form-control" })
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.ContactId, ViewBag.ContactList as SelectList, "-- Vyber kontakt --", new { @class = "form-control" })
                <span asp-validation-for="ContactId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                <input asp-for="Price" class="form-control" type="text" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                @Html.DropDownListFor(model => model.CurrencyId, ViewBag.CurrencyList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                <input asp-for="ExchangeRate" class="form-control" type="text"/>
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Status" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                @Html.DropDownListFor(model => model.Status, ViewBag.OfferStatusList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Resetovat pole" />
                <input type="submit" class="btn btn-primary" value="Upravit nabídku" />
            </div>
        </div>

        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function(){

            $('.mycalendar input').datepicker({
                // format: "dd.mm.yyyy",
                // startDate: "01.01.1980",
                // endDate: "01.01.2021",
                format: "yyyy-mm-dd",
                startDate: "1980-01-01",
                endDate: "2021-01-01",
                todayBtn: "linked",
                language: "cs",
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
        })

    </script>

}

