@{
    ViewData["Title"] = "Úprava nabídky";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.Models.Offer

<style>
    .offerStatus_1 {
        color: grey;
        text-align: center;
    }
    .offerStatus_2 {
        color: green;
        text-align: center;
    }
    .offerStatus_3 {
        color: red;
        text-align: center;
    }
</style>

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>


<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="OfferId" />
        <input type="hidden" asp-for="OfferStatusId" />

        <div class="form-group row">
            <label asp-for="OfferName" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="OfferName" class="form-control" type="text" readonly />
                <span asp-validation-for="OfferName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="OfferStatusId" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-2">
                @Html.TextBox("OfferStatusName", (string)@ViewBag.OfferStatusName, new { @class = "form-control offerStatus_" + Model.OfferStatusId, @readonly = "readonly" })
                @* <input asp-for="OfferName" class="form-control" type="text" required="" autocomplete="off" readonly/> *@
                @* @Html.TextBoxFor(m => m.OfferStatus.Status, new { @class = "form-control", @readonly = "readonly" }) *@
                @* <span asp-validation-for="OfferStatusId" class="text-danger"></span> *@
            </div>

            @* @Html.HiddenFor(m => m.OfferStatus.Status) *@

            @* <label class="col-lg-3 col-form-label form-control-label control-label text-right">Změnit: </label> *@
            <div class="col-lg-1">
            </div>

            <div class="col-lg-2">
                <button class="btn btn-secondary form-control" type="submit"
                        asp-action="ChangeOfferStatus" asp-controller="Offers"
                        asp-route-id="@Model.OfferId" asp-route-btnOfferStatusId="1">
                    <i class="fa fa-hourglass-half"></i> Čeká
                </button>
            </div>
            <div class="col-lg-2">
                @* <button class="btn btn-success form-control" id="btnWon">
                    <i class="fa fa-smile-o"></i> Výhra
                </button> *@
                @* <a href="@Url.Action("Edit", "Offers", new { OfferStatusId = 2 })" data-form-method="post" class="btn btn-success" style="width: 100%;">
                    <i class="fa fa-smile-o"></i> Výhra
                </a> *@
                @* <input type="submit" class="btn btn-primary" value="Výhra" /> *@
                @* <input name="offerStatusId" type="submit" id="btnWon" class="btn btn-primary" value="2" /> *@
                <button class="btn btn-success form-control" type="submit"
                        asp-action="ChangeOfferStatus" asp-controller="Offers"
                        asp-route-id="@Model.OfferId" asp-route-btnOfferStatusId="2">
                    <i class="fa fa-smile-o"></i> Výhra
                </button>
            </div>

            <div class="col-lg-2">
                @* <input name="offerStatusId" type="submit" id="btnLost" class="btn btn-primary" value="3" /> *@
                @* <button class="btn btn-danger form-control" id="btnLost">
                    <i class="fa fa-frown-o"></i> Prohra
                </button> *@
                @* <a href="@Url.Action("Offers", "Edit")" class="btn btn-danger" style="width: 100%;">
                    <i class="fa fa-frown-o"></i> Prohra
                </a> *@
                <button class="btn btn-danger form-control" type="submit"
                        asp-action="ChangeOfferStatus" asp-controller="Offers"
                        asp-route-id="@Model.OfferId" asp-route-btnOfferStatusId="3">
                    <i class="fa fa-frown-o"></i> Prohra
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 col-form-label form-control-label control-label">Aktivita</label>
            <div class="pretty p-bigger p-default p-curve p-toggle">
                <input asp-for="Active" type="checkbox"/>
                <div class="state p-success p-on">
                    <label>Aktivní</label>
                </div>
                <div class="state p-danger p-off">
                    <label>Neaktivní </label>
                </div>
            </div>
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>

        <hr />

        <div class="form-group row">
            <label asp-for="ReceiveDate" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="ReceiveDate" class="form-control" type="text" required="" autocomplete="off"/>
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SentDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="SentDate" class="form-control" type="text" autocomplete="off"/>
                <span asp-validation-for="SentDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Subject" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="Subject" class="form-control" type="text" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row eveOffer">
            <label class="required col-lg-3 col-form-label form-control-label control-label">Evektor</label>
            <div class="col-lg-2">
                @Html.DropDownList("EveDivision", new SelectList(Model.EveDivisionList, "Value", "Text", "-- Divize --"), new { @class = "form-control"})
                <span asp-validation-for="EveDivision" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("EveDepartment", new SelectList(ViewBag.DepartmentList, "Value", "Text"), new { @class = "form-control"})
                <span asp-validation-for="EveDepartment" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                @Html.DropDownList("EveCreatedUser", new SelectList(ViewBag.EveContactList, "Value", "Text"), new { @class = "form-control selectpicker"})
                <span asp-validation-for="EveCreatedUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row customerOffer">
            <label class="col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
            <div class="col-lg-5">
                @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyList as SelectList, "-- Vyber firmu --", new { @class = "form-control selectpicker", @style = "width: 100%;" })
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.ContactId, ViewBag.ContactList as SelectList, "-- Vyber kontakt --", new { @class = "form-control selectpicker", @style = "width: 100%;" })
                <span asp-validation-for="ContactId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-5">
                <input asp-for="Price" class="form-control" type="text" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                @Html.DropDownListFor(model => model.CurrencyId, ViewBag.CurrencyList as SelectList, new { @class = "form-control" })
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="col-lg-2">
                @* <input asp-for="ExchangeRate" class="form-control" type="text" onchange="this.value = this.value.replace(/,/g, '.')"/> *@
                <input asp-for="ExchangeRate" class="form-control" type="text" />
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Notes" class="form-control"></textarea>
                @* @Html.TextAreaFor(m => m.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>

        @* Lost offer textarea only visible if Offer was Lost *@
        @if (Model.OfferStatusId == 3)
        {
            <div class="form-group row lostOffer">
                <label asp-for="LostReason" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="LostReason" class="form-control"></textarea>
                    @* @Html.TextAreaFor(m => m.LostReason, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                    <span asp-validation-for="LostReason" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Resetovat pole" />
                <input type="submit" class="btn btn-primary" value="Uložit" />
            </div>
        </div>

        </form>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>

    <script>

        $(document).ready(function(){

            $('.mycalendar input').datepicker({
                // format: "dd.mm.yyyy",
                // startDate: "01.01.1980",
                // endDate: "01.01.2021",
                format: "yyyy-mm-dd",
                startDate: "1980-01-01",
                endDate: "2021-01-01",
                todayBtn: "linked",
                language: "cs",
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });


            function changeExchangeRate(curSymbol) {
                $.ajax({
                    //url: '@Url.Action("getCurrency", "Offers")',
                    url: '@Url.Action("getCurrencyStr", "Offers")',
                    type: 'GET',
                    //dataType: 'json',
                    // we set cache: false because GET requests are often cached by browsers
                    // IE is particularly aggressive in that respect
                    cache: false,
                    //data: { symbol: curSymbol, separator: whatDecimalSeparator() },
                    data: { symbol: curSymbol },
                    success: function (res) {
                        //console.log("whatDecimalSeparator: " + whatDecimalSeparator());
                        //resStr = res.toString();
                        //res = resStr.replace(".", whatDecimalSeparator());
                        $('#ExchangeRate').val(res);
                    }
                });
            }


            $('#CurrencyId').change(function() {
                var sel = document.getElementById('CurrencyId');
                var opt = sel.options[sel.selectedIndex];
                curSymbol = opt.text
                //console.log("Changing... to " + curSymbol);
                changeExchangeRate(curSymbol);
            });


            $("#ExchangeRate").on("keydown input change textInput", function (e) {
                // allow function keys and decimal separators
                if (
                    // backspace, delete, tab, escape, enter, comma and .
                    $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 188, 190]) !== -1 ||
                    // Ctrl/cmd+A, Ctrl/cmd+C, Ctrl/cmd+X
                    ($.inArray(e.keyCode, [65, 67, 88]) !== -1 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {

                    // // optional: replace commas with dots in real-time (for en-US locals)
                    // if (e.keyCode === 188) {
                    //     e.preventDefault();
                    //     $(this).val($(this).val() + whatDecimalSeparator());
                    // }

                    // // optional: replace decimal points (num pad) and dots with commas in real-time (for EU locals)
                    // if (e.keyCode === 110 || e.keyCode === 190) {
                    //     e.preventDefault();
                    //     $(this).val($(this).val() + whatDecimalSeparator());
                    // }

                    return;
                }
                // block any non-number
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            function whatDecimalSeparator() {
                var n = 1.1;
                n = n.toLocaleString().substring(1, 2);
                return n;
            };

        });

    </script>

}

