@using System.Globalization

@model memo.ViewModels.OfferOrderVM

<!-- Modal placeholder -->
@* <div id="modal-placeholder-@Model.IDOrder"></div> *@

@* <input hidden="true" asp-for="@Model.Order.OrderCodes[i].OrderCodeId" /> *@


<div class="row form-group justify-content-end" id="dynamic-row-order-codes-@Model.IDOrder">

    <input asp-for="@Model.Order.OrderCodes[@Model.IDOrder].OrderCodeId" hidden="true">

    <div class="col-lg-3">
        <span class="has-float-label">
            <div class="input-group">
                <input asp-for="@Model.Order.OrderCodes[@Model.IDOrder].OrderCode" class="form-control" type="text" autocomplete="off" placeholder=" "/>
                <div class="input-group-append">
                    <!-- Button trigger modal -->
                    <span data-toggle="tooltip" title="Vyhledat kód">
                        @* <button class="btn btn-light border" type="button" data-toggle="ajax-modal" data-target="#SearchForOrderCodeModal" data-id="@i" data-url="@Url.Action("GetOrderCodes", "Orders", new { id = @i })"> *@
                        @* <button class="btn btn-light border" type="button" data-toggle="ajax-modal" data-target="#SearchForOrderCodeModal" data-url="@Url.Action("GetOrderCodes", "Orders", new { id = @Model.IDOrder })"> *@
                        <button class="btn btn-light border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <label asp-for="@Model.Order.OrderCodes[@Model.IDOrder].OrderCode">Kód vykazování</label>
        </span>
    </div>

    <div class="col-lg-3">
        <span class="has-float-label">
            <input asp-for="@Model.Order.OrderCodes[@Model.IDOrder].HourWageSubject" class="form-control" type="text" autocomplete="off" placeholder=" "/>
            <label asp-for="@Model.Order.OrderCodes[@Model.IDOrder].HourWageSubject">Popis hod. mzdy</label>
        </span>
    </div>

    <div class="col-lg-3">
        <span class="has-float-label">
            <input asp-for="@Model.Order.OrderCodes[@Model.IDOrder].HourWageCost" class="form-control" type="text" placeholder=" "/>
            <label asp-for="@Model.Order.OrderCodes[@Model.IDOrder].HourWageCost">Hod. mzda</label>
        </span>
        @* <label class="order-codes-sum-hours-label ml-2" style="font-size: 0.8em; color: grey;">
            Vynásobeno: ...
        </label> *@
    </div>

    <div class="col-lg-1">
        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" data-original-title="Odstranit záznam" onclick="DeleteOrderCode(@Model.IDOrder)">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>
