@{
    ViewData["Title"] = "Kontakty";
}

@model IEnumerable<memo.Models.Contact>

<style>
    .filter-control>input.form-control,
    .filter-control>select.form-control {
        margin: 0px;
        padding: 0px 20px;
        height: 30px;
        border-radius: 5px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Kontakty</h1>
</div>

<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nový kontakt</a>
    <a id="btnToggleActive" class="btn btn-outline-primary pull-right" onclick="ToggleActive()">
        <i class="fa fa-eye-slash"></i> Aktivní (@Model.Count(m => m.Active) / @Model.Count())
    </a>
    <button style="margin-right: 5px;" class="btn btn-outline-info" name="BtnMujFilter" id="BtnMujFilter" type="button">
        <i class="fa fa-filter"> Filter</i>
    </button>
</div>

<!--
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Jméno</th>
            <th scope="col">Oddělení</th>
            <th scope="col">Telefon</th>
            <th scope="col">E-mail</th>
            @* <th scope="col">Aktivní</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.ContactId" class="@(item.Active ? Html.Raw("show") : Html.Raw("hide"))">
                <th scope="row">
                    <a asp-action="Edit" asp-route-id=@item.ContactId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    @* <a asp-action="Delete" asp-route-id=@item.ContactId><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a> *@
                    <a href="#" onclick="ConfirmDelete(@item.ContactId)"><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                <th scope="row">@item.PersonName</th>
                <th scope="row">@item.Department</th>
                <th scope="row">@item.Phone</th>
                <th scope="row">@item.Email</th>
                @* <th scope="row">@Html.CheckBoxFor(m => item.Active, new { @checked = "checked" })</th> *@
            </tr>
        }
    </tbody>
</table>
-->

<table
    id="table"
    data-filter-control="false"
    data-show-search-clear-button="true"
    data-show-toggle="true"
    data-cookie="true"
    data-cookie-id-table="saveId"
    data-show-columns-toggle-all="true"
    data-show-columns="true"
    data-show-export="true"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    class="table table-sm text-nowrap text-xsmall"
    style="width:100%"
    >
    <thead>
        <tr>
            <th scope="col" data-field="0" data-filter-control="input" style="width: 10px;"></th>
            <th scope="col" data-field="1" data-filter-control="input">Jméno</th>
            <th scope="col" data-field="2" data-filter-control="select">Oddělení</th>
            <th scope="col" data-field="3" data-filter-control="input">Telefon</th>
            <th scope="col" data-field="4" data-filter-control="input">E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.ContactId" class="@(item.Active ? Html.Raw("show") : Html.Raw("hide"))">
                <th scope="row" style="width: 10px;">
                    <a asp-action="Edit" asp-route-id=@item.ContactId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    @* <a asp-action="Delete" asp-route-id=@item.ContactId><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a> *@
                    <a href="#" onclick="ConfirmDelete(@item.ContactId)"><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                <th scope="row">@item.PersonName</th>
                <th scope="row">@item.Department</th>
                <th scope="row">@item.Phone</th>
                <th scope="row">@item.Email</th>
            </tr>
        }
    </tbody>
</table>


<!---------------------------
    Modal: Confirm Delete
---------------------------->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání kontaktu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalItemId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current Id*@
<input type="hidden" id="hiddenId" />

@section scripts{
<script>
    // POST delete command to controller
    //----------------------------------
    function DeleteItem() {
        var itemId = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Contacts")',
            data: { Id: itemId },
            success: function () {
                $("#myModal").modal("hide")
                //$("#row_" + itemId).remove();
                window.location = "Contacts/Index"
            },
            error: function() {
                alert("Tento uživatel je přidělen nabídce/zakázce. Nelze ho odstranit.");
                $("#myModal").modal("hide");
            }
        })
    }

    //function goContacts() {
    //    $.ajax({
    //        type: "get",
    //        url: '@Url.Action("Edit", "Contacts", new { id = 2 })',
    //        success: function (result) {
    //            window.location = "Contacts/Index";
    //        }
    //    });
    //}

    // MODAL dialog for delete confirmation
    //-------------------------------------
    //function ConfirmDelete(ItemId) {
    var ConfirmDelete = function (ItemId) {
        $("#hiddenId").val(ItemId);
        $("#myModal").modal('show');
        $("#modalItemId").val( 'Hmm' + ItemId );
    };


    // Function to toggle Active/Disabled in table
    //--------------------------------------------
    function ToggleActive() {
        var btn = document.getElementById("btnToggleActive");

        if (btn.children[0].className == "fa fa-eye-slash") {
            btn.children[0].className = "fa fa-eye"
            btn.lastChild.nodeValue = " Všichni (@Model.Count())"
            var hiddenRows = document.getElementsByClassName("hide");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "show hiddenBefore";
            };
        }
        else {
            btn.children[0].className = "fa fa-eye-slash"
            btn.lastChild.nodeValue = " Aktivní (@Model.Count(m => m.Active) / @Model.Count())"
            var hiddenRows = document.getElementsByClassName("show hiddenBefore");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "hide";
            }
        }
    };


    // Filter button on top of the bootstrap datatable to switch filter textboxes
    //---------------------------------------------------------------------------
    $(function() {

        $('#table').bootstrapTable();
        const $table = $('#table');

        FilterButton = $('#BtnMujFilter');
        FilterButton.click(function() {
            $table.bootstrapTable('destroy');
            $table.data("filter-control", !$table.data("filter-control"));
            $table.bootstrapTable();
        });
    })

</script>
}