@model IEnumerable<memo.Models.Contact>

@{
    ViewData["Title"] = "Kontakty";
}


<style>
    .hide {
        display: none;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Kontakty</h1>
</div>

<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nový kontakt</a>
    <a id="btnToggleActive" class="btn btn-outline-primary" onclick="ToggleActive()">
        <i class="fa fa-eye-slash"></i> Aktivní (@Model.Count(m => m.Active) / @Model.Count())
    </a>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Jméno</th>
            <th scope="col">Oddělení</th>
            <th scope="col">Telefon</th>
            <th scope="col">E-mail</th>
            @* <th scope="col">Aktivní</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.ContactId" class="@(item.Active ? Html.Raw("show") : Html.Raw("hide"))">
                <th scope="row">
                    <a asp-action="Edit" asp-route-id=@item.ContactId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    @* <a asp-action="Delete" asp-route-id=@item.ContactId><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a> *@
                    <a href="#" onclick="ConfirmDelete(@item.ContactId)"><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                <th scope="row">@item.PersonName</th>
                <th scope="row">@item.Department</th>
                <th scope="row">@item.Phone</th>
                <th scope="row">@item.Email</th>
                @* <th scope="row">@Html.CheckBoxFor(m => item.Active, new { @checked = "checked" })</th> *@
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání kontaktu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalContactId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteEmployee()">Smazat</a>
            </div>

        </div>

    </div>

</div>

@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenContactId" />

@section scripts{
<script>
    var DeleteEmployee = function () {
        var contactId = $("#hiddenContactId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete","Contacts")',
            data: { Id: contactId },
            success: function (result) {
                $("#myModal").modal("hide");
                $("#row_" + contactId).remove();
                //window.location = "Contacts/Index";
                //setInterval('goContacts()', 1000);
            }
        })
    }

    var ConfirmDelete = function (ContactId) {
        $("#hiddenContactId").val(ContactId);
        $("#myModal").modal('show');
        $("#modalContactId").val( 'Hmm' + ContactId );
    };

    function ToggleActive() {
        console.log("Hihi");
        var btn = document.getElementById("btnToggleActive");


        if (btn.children[0].className == "fa fa-eye-slash") {
            btn.children[0].className = "fa fa-eye"
            btn.lastChild.nodeValue = " Všichni (@Model.Count())"
            var hiddenRows = document.getElementsByClassName("hide");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "show hiddenBefore";
            };
        }
        else {
            btn.children[0].className = "fa fa-eye-slash"
            btn.lastChild.nodeValue = " Aktivní (@Model.Count(m => m.Active) / @Model.Count())"
            var hiddenRows = document.getElementsByClassName("show hiddenBefore");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "hide";
            }
        }

    }
    //function goContacts() {
    //    $.ajax({
    //        type: "get",
    //        url: '@Url.Action("Edit", "Contacts", new { id = 2 })',
    //        success: function (result) {
    //            window.location = "Contacts/Index";
    //        }
    //    });
    //}


</script>
}