@using System.Globalization;
@using System;
@using System.Web;

@{
    ViewData["Title"] = "Nová zakázka";
    @* int take_number = Context.Request.Path.ToUriComponent().Contains("memo/") ? 4 : 3; *@
    @* string baseUrl = string.Join("/", Context.Request.Path.ToUriComponent().Split('/').Take(take_number)); *@
}

@model memo.ViewModels.OfferOrderVM

@await Html.PartialAsync("_PartialToastNotification")

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-8 push-lg-4 personal-info">

        <!--------------------------------------------------------------------------------------
            FORM - NABÍDKA
        --------------------------------------------------------------------------------------->
        @* <form class="card" role="form" autocomplete="on" asp-action="Refresh" method="post"> *@
        <div class="card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* PARTIAL: SELECT  *@
            @await Html.PartialAsync("Partials/Orders/_PartialOrder-Create-SelectFrom", new ViewDataDictionary(ViewData) {{ "selectedOffer", "selected" }})

            <div class="form-group row justify-content-center mt-3">

                @* Evektor nabídka *@
                <div class="col-lg-7 new-order-from-offer">
                    <input type="hidden" asp-for="Order.OfferId" />

                    <select asp-for="Order.OfferId" asp-items="Model.WonOffersList" class="form-control selectpicker" data-submit-url="@Url.Action("CreateFromOffer","Orders")">
                        <option select="">-- Vyber nabídku --</option>
                    </select>
                    <span asp-validation-for="Order.OfferId" class="text-danger"></span>
                </div>

            </div>

            @if (@Model.Order?.OfferId != 0 && @Model.Order?.OfferId != null)
            {
                <ul>
                    <li><b>Předmět:</b> @Model.Order.Offer.SharedInfo.Subject - <b>@String.Format(CultureInfo.CreateSpecificCulture(Model.Order.Offer.SharedInfo.Currency.CultureCode), "{0:C0}", @Model.Order.Offer.SharedInfo.Price)</b> (@String.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C0}", Model.Order.Offer.SharedInfo.PriceCzk))</li>
                    <li><b>Zákazník:</b> @Model.Order.Offer.SharedInfo.Company.Name (<b>Splatnost faktury:</b> @Model.Order.Offer.SharedInfo.Company.InvoiceDueDays dní)</li>
                    <li>
                        <b>Přijetí poptávky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Order.Offer.SharedInfo.ReceiveDate) ---
                        <b>Odeslání nabídky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Order.Offer.SentDate) ---
                        <b><label asp-for="Offer.SharedInfo.EstimatedFinishDate"></label>:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Order.SharedInfo.EstimatedFinishDate)
                    </li>
                </ul>
            }

            <div class="cardTitleMerged">
                <div class="">
                    <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
                </div>

                @if (@Model.Order.OfferId != 0 && @Model.Order.OfferId != null)
                {
                    <div class="">
                        <a asp-action="Edit" asp-controller="Offers" asp-route-id="@Model.Order.OfferId" class="btn btn-primary"><i class="fa fa-list-alt"></i> Přejít na nabídku</a>
                    </div>
                }
            </div>

        </div>
        @* </form> *@

        <br />

        <!--------------------------------------------------------------------------------------
            FORM - ZAKAZKA
        --------------------------------------------------------------------------------------->
        @* @if (@Model.Order?.OfferId != 0 && @Model.Order?.OfferId != null) *@
        @if (@Model.Order?.OfferId != null )  // TODO(jverner) bude stacit se neptat na 0?
        {
            <form id="orderForm" class="card" role="form" autocomplete="on" asp-action="CreateFromOffer" method="post" style="display: none;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Order.OfferId" />
            <input type="hidden" asp-for="Order.SharedInfo.EveDivision" />
            <input type="hidden" asp-for="Order.SharedInfo.EveDepartment" />
            <input type="hidden" asp-for="Order.SharedInfo.EveCreatedUser" />
            <input type="hidden" asp-for="Order.SharedInfo.Subject" />

            <h5 class="card-title">Vyplnit novou zakázku</h5>
            <hr />

            <div class="form-group row">
                <label asp-for="Order.OrderName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <div class="input-group mb-2 mr-sm-2">
                        <span class="has-float-label">
                            <input asp-for="Order.OrderName" class="form-control" type="text" required="" placeholder=" "/>
                            <label asp-for="Order.OrderName">Číslo objednávky zákazníka</label>
                        </span>
                        <div class="input-group-append">
                            <div class="input-group-text" data-toggle="tooltip" title="Vložit název Evektor nabídky" onclick="insertEvektorOfferName('@Model.Order.Offer.OfferName');" style="cursor: pointer;">
                                <i class="fa fa-caret-left">&nbsp;<i class="fa fa-tasks"></i></i>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Order.OrderName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="required col-lg-3 col-form-label form-control-label control-label">Cena dle jednacího protokolu</label>
                <div class="col-lg-3">
                    <span class="has-float-label">
                        <input asp-for="Order.NegotiatedPrice" class="form-control" type="text" required placeholder=" "/>
                        <label asp-for="Order.NegotiatedPrice">Vyjednaná cena [@Model.Order?.SharedInfo?.Currency?.Name]</label>
                    </span>
                    <span asp-validation-for="Order.NegotiatedPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Order.EveContactName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <span class="floating-select-label">Vedoucí projektu</span>
                    <select asp-for="Order.EveContactName" class="form-control select-user-ajax project-manager-default"></select>
                    <span asp-validation-for="Order.EveContactName" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <span class="floating-select-label">Key account manager</span>
                    <select asp-for="Order.KeyAccountManager" class="form-control select-user-ajax"></select>
                    <span asp-validation-for="Order.KeyAccountManager" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <div class="col-lg-5">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                        data-toggle="tooltip" data-placement="top" title="Nová EVE zakázka">
                        <i class="fa fa-plus-square"></i> Vytvořit eve zakázku (intranet)
                    </a>
                </div>
                <div class="col-lg-5">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                    data-toggle="tooltip" data-placement="top" title="Nová EVE modulová zakázka">
                        <i class="fa fa-plus-square"> </i> Vytvořit eve [M] zakázku (intranet)
                    </a>
                </div>
            </div>

            <div class="form-group row border-top pt-2">
                <div class="col-lg-2 col-form-label d-flex justify-content-left">
                    <label class="form-control-label control-label">Kód(y) vykazování</label>
                </div>
                <div class="col-lg-10">
                    <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-order-codes mt-1" data-toggle="tooltip" title="Přidat hodinové sazby">
                        <i class="fa fa-plus"></i> Přidat kód
                    </a>
                </div>
            </div>

            <!-- PLACEHOLDER: _PartialOrderOrderCodesCreate -->
            <div class="dynamic-rows-order-codes" id="template-order-codes" data-order="@Model.Order.OrderCodes.Count()">
                <div id="modal-placeholder"></div>
            </div>

            <div class="form-group row border-top pt-2">
                <div class="col-lg-2 col-form-label d-flex justify-content-left">
                    <label class="form-control-label control-label">Faktury</label>
                </div>
                <div class="col-lg-10">
                    <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-invoice mt-1" data-toggle="tooltip" title="Přidat fakturaci"><i class="fa fa-plus"></i> Přidat fakturaci</a>
                </div>
            </div>

            @Html.ValidationMessage("InvoiceMissing", "", new { @class = "text-danger" })
            <div class="dynamic-rows-invoices" id="template-invoices" data-order="@Model.Order.Invoices.Count()">
                @for (int i = 0; i < Model.Order.Invoices.Count(); i++)
                {
                    <div class="row form-group justify-content-end">
                        <input hidden="true" asp-for="@Model.Order.Invoices[i].InvoiceId" />
                        <div class="col-lg-3 mycalendar">
                            <input asp-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="form-control" type="text" autocomplete="off" placeholder="Termín vystavení" />
                            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 mycalendar">
                            <input asp-for="@Model.Order.Invoices[i].InvoiceDueDate" class="form-control" type="text" autocomplete="off" placeholder="Splatnost faktury" />
                            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceDueDate" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@Model.Order?.SharedInfo?.Currency?.Name</div>
                                </div>
                                <input asp-for="@Model.Order.Invoices[i].Cost" class="form-control" type="text" placeholder="Částka" />
                                <span asp-validation-for="@Model.Order.Invoices[i].Cost" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteInvoice(@Model.Order.Invoices[i].InvoiceId)"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                }
                <span asp-validation-for="Order.Invoices" class="text-danger"></span>
            </div>

            <div class="form-group row border-top pt-2">
                <div class="col-lg-2 col-form-label d-flex justify-content-left">
                    <label class="form-control-label control-label">Další náklady</label>
                </div>
                <div class="col-lg-10">
                    <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-other-costs mt-1" data-toggle="tooltip" title="Přidat další náklady"><i class="fa fa-plus"></i> Další náklady</a>
                </div>
            </div>

            @Html.ValidationMessage("OtherCostsValidationMessage", "", new { @class = "text-danger" })
            <div class="dynamic-rows-other-costs" id="template-other-costs" data-order="@Model.Order.OtherCosts.Count()">
                @for (int i = 0; i < Model.Order.OtherCosts.Count(); i++)
                {
                    <div class="row form-group justify-content-end">
                        <input hidden="true" asp-for="@Model.Order.OtherCosts[i].OtherCostId" />
                        <div class="col-lg-6">
                            <input asp-for="@Model.Order.OtherCosts[i].Subject" class="form-control" type="text" autocomplete="off" placeholder="Popis" />
                            <span asp-validation-for="@Model.Order.OtherCosts[i].Subject" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@Model.Order?.SharedInfo.Currency?.Name</div>
                                </div>
                                <input asp-for="@Model.Order.OtherCosts[i].Cost" class="form-control" type="text" placeholder="Částka" />
                                <span asp-validation-for="@Model.Order.OtherCosts[i].Cost" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteOtherCost(@Model.Order.OtherCosts[i].OtherCostId)"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                }
                <span asp-validation-for="Order.OtherCosts" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Order.ExchangeRate" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span>@Model.Order?.SharedInfo.Currency?.Name</span></div>
                        </div>
                        <input asp-for="Order.ExchangeRate" class="form-control" type="text" />
                        <div class="input-group-append">
                            <div class="input-group-text" data-toggle="tooltip" title="Vložit dnešní kurz z ČNB" onclick="changeExchangeRate('@Model.Order?.SharedInfo?.Currency?.Name');" style="cursor: pointer;">
                                <i class="fa fa-caret-left">&nbsp;<i class="fa fa-cloud-download"></i></i>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Order.ExchangeRate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Order.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="Order.Notes" class="form-control"></textarea>
                    <span asp-validation-for="Order.Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3">
                    <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
                </div>
                <div class="col-lg-9">
                    <input type="submit" class="btn btn-primary" value="Vytvořit zakázku" />
                </div>
            </div>

            @* @Html.CheckBoxFor(m => m.Order.Active, new { style = "display:none", @checked="checked" }) *@

            </form>
        }
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        /**
        * Return Due Days or something... NOTE(jverner): Something?
        */
        function AddInvoiceDueDays(inputId) {
            var _invoiceIssueInput = $('#Order_Invoices_' + inputId + '__InvoiceIssueDate');
            var date = new Date(_invoiceIssueInput.val());
            var futureDate = getPrettyDate(date, @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
            var _invoiceDueInput = $('#Order_Invoices_' + inputId + '__InvoiceDueDate').val(futureDate);
        }

        function insertEvektorOfferName(offerName) {
            $('#Order_OrderName').val(offerName).trigger("keyup");
        };

        function changeExchangeRate(curSymbol) {
            $.ajax({
                url: '@Url.Action("getCurrencyStr", "Orders")',
                type: 'GET',
                //dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { symbol: curSymbol },
                success: function(res) {
                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
                    $('#Order_ExchangeRate').val(res).keyup();
                }
            });
        };

        // Just delete the <div> element
        function DeleteOtherCost(otherCostId) {
            console.log(`Deleting otherCostId: ${otherCostId}`);
            var row = document.getElementById(`dynamic-row-other-costs-${otherCostId}`);
            row.remove();
        };

        // Just delete the <div> element, don't post anything like in ActionResult Edit()
        function DeleteInvoice(invoiceId) {
            var row = document.getElementById(`dynamic-row-invoice-${invoiceId}`);
            if (row != null) {
                row.remove();
            }

            var rowDeliveryNote = document.getElementById(`dynamic-row-delivery-note-${invoiceId}`);
            if (rowDeliveryNote != null) {
                rowDeliveryNote.remove();
            }
        };

        // Just delete the <div> element
        function DeleteOrderCode(orderCodeId) {
            const row = $(`#dynamic-row-order-codes-${orderCodeId}`);
            if (row.length != 0) {
                const btnTrash = row.find("a.btn.btn-danger").tooltip("hide");
                row.remove();
            }
        };

        $(document).ready(function () {

            // DEFAULT VALUES
            // =======================================
            $('.project-manager-default').append(new Option('@Html.Raw(Model.Order.EveContactName)', '@Html.Raw(Model.Order.EveContactName)', false, false)).trigger('change');

            // OTHER
            // =======================================
            $("select#Order_OfferId").change(function () {
                var $this = $(this);
                var url = $this.data("submit-url") + "/" + $this.val();
                var lastUrlPortion = location.href.substring(location.href.lastIndexOf('/') + 1);

                if (isNumeric(lastUrlPortion)) {
                    url = $this.data("submit-url");
                    if ($this.val().endsWith("--")) {
                        url = url.substring(0, url.lastIndexOf("/") + 1);
                    }
                    else {
                        url = url.substring(0, url.lastIndexOf("/") + 1) + $this.val();
                    }
                }
                window.location.href = url;
            });
        });

        $(document).ready(function(){

            // Upon page load, check if OfferId != 0 (offer is selected) then set orderForm as visible
            if (@Html.Raw(Json.Serialize(@Model.Order.OfferId)) != null) {
                console.log("OfferId: " + @Json.Serialize(@Model.Order.OfferId));
                $("#orderForm").show();
            }

            @* $("#Order_OrderName").keyup(function() { *@
            $("#Order_OrderName").on("keyup", function() {
                checkItemNameExists($(this), 'Orders');
            });

            // All .mycalendar input classes will have 'datepicker()' functionality
            $('.mycalendar input').datepicker(datepickerParameters[0]);

            var offerPrice = parseInt('@Model.Order.SharedInfo.Price');  // TODO: tohle dat do SharedInfo

            $('#Order_NegotiatedPrice').on('keydown input change textInput', function(){
                if (negotiatedPrice != null) {
                    var negotiatedPrice = parseInt($('#Order_NegotiatedPrice').val());
                    $('#Order_PriceDiscount').val(offerPrice - negotiatedPrice);
                }
            });

            $('#Order_PriceDiscount').on('keydown input change textInput', function(){
                if (negotiatedPrice != null) {
                    var priceDiscount = parseInt($('#Order_PriceDiscount').val());
                    $('#Order_NegotiatedPrice').val(offerPrice - priceDiscount);
                }
            });

            //$('.invoiceDate').change('input', function(){
            //    var date = new Date($('.invoiceDate').val());
            //    var futureDate = getPrettyDate(date, @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
            //    $('#Order_InvoiceDueDate').val(futureDate);
            //});

            // Add new INVOICES row
            var idInvoice = @Model.Order.Invoices.Count();
            var invoiceDueDays = @Html.Raw(Json.Serialize(Model.Order?.SharedInfo?.Company?.InvoiceDueDays));
            $('.add-row-invoice').click(function () {
                console.log('Adding invoice: ' + idInvoice);
                var html =''+
                    @* '<div class="dynamic-rows-invoices" id="template-invoices" data-order="' + idInvoice + '">'+ *@
                        '<div class="row form-group justify-content-end border-top pt-4" id="dynamic-row-invoice-' + idInvoice + '">'+

                            '<input type="number" hidden="true" data-val="true" data-val-required="The InvoiceId field is required." id="Order_Invoices_' + idInvoice + '__InvoiceId" name="Order.Invoices[' + idInvoice + '].InvoiceId" value="0">'+

                            '<div class="col-lg-3 mycalendar">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" autocomplete="off" placeholder="dd-MM-yyyy" data-id="' + idInvoice + '" data-val="true" data-val-required="The Předp. termín vystavení faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceIssueDate" name="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" value="">'+
                                    '<label for="Order_Invoices_' + idInvoice + '__InvoiceIssueDate">Termín vystavení</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" autocomplete="off" placeholder="dd-MM-yyyy" data-val="true" data-id="' + idInvoice + '" data-val-required="The Splatnost faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceDueDate" name="Order.Invoices[' + idInvoice + '].InvoiceDueDate" value="">'+
                                    '<label for="Order_Invoices_' + idInvoice + '__InvoiceDueDate">Splatnost faktury</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceDueDate" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_Invoices_' + idInvoice + '__Cost" name="Order.Invoices[' + idInvoice + '].Cost" value="" />'+
                                    '<label for="Order_Invoices_' + idInvoice + '__Cost">Částka [@Model.Order?.SharedInfo.Currency?.Name]</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].Cost" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-1">'+
                                '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteInvoice(' + idInvoice + ')"><i class="fa fa-trash white"></i></a>'+
                            '</div>'+

                        '</div>'+

                        '<div class="row form-group justify-content-end " id="dynamic-row-delivery-note-' + idInvoice + '">'+
                            '<div class="col-lg-9">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" placeholder="Cesta k dodacímu listu" id="Order_Invoices_' + idInvoice + '__DeliveryNote" name="Order.Invoices[' + idInvoice + '].DeliveryNote" value="" />'+
                                    '<label for="Order_Invoices_' + idInvoice + '__DeliveryNote">Dodací list</label>'+
                                '</span>'+
                                '<span data-valmsg-for="Order.Invoices[' + idInvoice + '].DeliveryNote" data-valmsg-replace="true" class="text-danger"></span>'+
                            '</div>'+
                            '<div class="col-lg-1"></div>'+
                        '</div>'
                    @* '</div>' *@
                    ;
                var _formTemp = $("#template-invoices").clone(true)
                var _targetForm = $(".dynamic-rows-invoices")
                _targetForm.append(html)

                var _invoiceIssueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceIssueDate');
                var _invoiceDueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceDueDate');

                var parsed_date = @Html.Raw(Json.Serialize(Model.Order.SharedInfo.EstimatedFinishDate))
                if ( parsed_date != null) {
                    var issueDate = getPrettyDate(new Date(parsed_date), 0)
                    _invoiceIssueInput.val(issueDate);
                    var futureDate = getPrettyDate(new Date(parsed_date), @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
                    _invoiceDueInput.val(futureDate);
                }

                _invoiceIssueInput.datepicker(datepickerParameters[0]);
                _invoiceDueInput.datepicker(datepickerParameters[0]);
                $('.newlyAddedTooltip').tooltip();

                _invoiceIssueInput.on("changeDate", function(data) {
                    var date = data.date;
                    var futureDate = getPrettyDate(date, @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
                    $('#Order_Invoices_' + _invoiceIssueInput.data('id') + '__InvoiceDueDate').val(futureDate);
                 });

                floatingLabelsInit();

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idInvoice = idInvoice + 1;
                return false;
            });

            // Add new OTHER COSTS row
            var idOtherCosts = @Model.Order.OtherCosts.Count();
            $('.add-row-other-costs').click(function () {
                var html =
                    '<div class="row form-group justify-content-end" id="dynamic-row-other-costs-' + idOtherCosts + '">'+
                        '<input type="number" hidden="true" data-val="true" data-val-required="The OtherCostId field is required." id="Order_OtherCosts_' + idOtherCosts + '__OtherCostId" name="Order.OtherCosts[' + idOtherCosts + '].OtherCostId" value="0">'+

                        '<div class="col-lg-6">'+
                            '<input class="form-control" type="text" autocomplete="off" placeholder="Popis" data-val="true" data-val-required="Je třeba přidat popis dalšího nákladu" id="Order_OtherCosts_' + idOtherCosts + '__Subject" name="Order.OtherCosts[' + idOtherCosts + '].Subject" value="">'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Subject" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_OtherCosts_' + idOtherCosts + '__Cost" name="Order.OtherCosts[' + idOtherCosts + '].Cost" value="" />'+
                                '<label for="Order_OtherCosts_' + idOtherCosts + '__Cost"">Částka [@Model.Order?.SharedInfo.Currency?.Name]</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idOtherCosts + '].Cost" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteOtherCost(' + idOtherCosts + ')"><i class="fa fa-trash white"></i></a>'+
                        '</div>'+

                    '</div>';

                //$("tbody").append($(html).clone(true))
                var _formTemp = $("#template-other-costs").clone(true)
                var _targetForm = $(".dynamic-rows-other-costs")
                _targetForm.append(html)

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idOtherCosts = idOtherCosts + 1;
                return false;
            });

            // Add new ORDER CODES row
            var idOrderCode = @Model.Order.OrderCodes.Count();
            $('.add-row-order-codes').on('click', function () {
                var html =
                    '<div class="row form-group justify-content-end" id="dynamic-row-order-codes-' + idOrderCode + '">'+

                        '<input hidden="true" type="number" data-val="true" data-val-required="The OrderCodeId field is required." id="Order_OrderCodes_' + idOrderCode + '__OrderCodeId" name="Order.OrderCodes[' + idOrderCode + '].OrderCodeId" value="0">'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<div class="input-group">'+
                                    '<input class="form-control" type="text" autocomplete="off" placeholder=" " data-val="true" data-val-length="The field Kód vykazování EVE must be a string with a maximum length of 50." data-val-length-max="50" data-val-regex="Kód ve formátu xxx.xxxx" data-val-regex-pattern="(\\d{3}[.]\\d{4})?" id="Order_OrderCodes_' + idOrderCode + '__OrderCode" maxlength="50" name="Order.OrderCodes[' + idOrderCode + '].OrderCode" value="">'+
                                    '<div class="input-group-append">'+
                                        '<!-- Button trigger modal -->'+
                                        '<span data-toggle="tooltip" title="" data-original-title="Vyhledat kód">'+
                                            '<button class="btn btn-light border" type="button" data-toggle="ajax-modal" data-target="#SearchForOrderCodeModal" data-url="/Orders/GetOrderCodes/' + idOrderCode + '">'+
                                                '<i class="fa fa-search"></i>'+
                                            '</button>'+
                                        '</span>'+
                                    '</div>'+
                                '</div>'+
                                '<label for="Order_OrderCodes_' + idOrderCode + '__OrderCode">Kód vykazování</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OrderCodes[' + idOrderCode + '].OrderCode" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" autocomplete="off" placeholder=" " data-val="true" data-val-length="The field Hodinová mzda @Model.Order?.SharedInfo.Currency?.Name must be a string with a maximum length of 50." data-val-length-max="50" id="Order_OrderCodes_' + idOrderCode + '__HourWageSubject" maxlength="50" name="Order.OrderCodes[' + idOrderCode + '].HourWageSubject" value="">'+
                                '<label for="Order_OrderCodes_' + idOrderCode + '__HourWageSubject">Popis hod. mzdy</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OrderCodes[' + idOrderCode + '].HourWageSubject" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder=" " data-val="true" data-val-number="The field Hodinová mzda must be a number." id="Order_OrderCodes_' + idOrderCode + '__HourWageCost" name="Order.OrderCodes[' + idOrderCode + '].HourWageCost" value="">'+
                                '<label for="Order_OrderCodes_' + idOrderCode + '__HourWageCost">Hod. mzda [@Model.Order?.SharedInfo.Currency?.Name]</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OrderCodes[' + idOrderCode + '].HourWageCost" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" onclick="DeleteOrderCode(' + idOrderCode + ')" data-original-title="Odstranit záznam"><i class="fa fa-trash"></i></a>'+
                        '</div>'+

                    '</div>';

                //$("tbody").append($(html).clone(true))
                var _formTemp = $("#template-order-codes").clone(true)
                var _targetForm = $(".dynamic-rows-order-codes")
                _targetForm.append(html)

                floatingLabelsInit();
                initializeTooltips();
                initializeOrderAjaxModalClickEvent();

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idOrderCode = idOrderCode + 1;
                return false;
            });
        })

    </script>

}

