@using System.Globalization

@{
    ViewData["Title"] = "Nová zakázka";
}

@model memo.ViewModels.OfferOrderVM

<style>

</style>

@await Html.PartialAsync("_Partial_ToastNotification")

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-8 push-lg-4 personal-info">

        <!--------------------------------------------------------------------------------------
            FORM - NABÍDKA
        --------------------------------------------------------------------------------------->
        @* <form class="card" role="form" autocomplete="on" asp-action="Refresh" method="post"> *@
        <form id="orderForm" class="card" role="form" autocomplete="on" asp-action="Create" method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* PARTIAL: SELECT  *@
        @await Html.PartialAsync("Partials/Orders/_Partial_SelectFromSource", new ViewDataDictionary(ViewData) {{ "selectedClean", "selected" }})

        <div class="form-group row justify-content-center mt-3">

            @* Zakázka bez nabídky *@
            <div class="col-lg-12 new-order-from-other">

                <div class="form-group row">
                    <label asp-for="Order.SharedInfo.ReceiveDate" class="col-lg-3 col-form-label form-control-label control-label">Datum přijetí</label>
                    <div class="col-lg-9 mycalendar">
                        <span class="has-float-label">
                            <input asp-for="Order.SharedInfo.ReceiveDate" class="form-control" type="text" placeholder=" " required="" autocomplete="off"/>
                            <label asp-for="Order.SharedInfo.ReceiveDate"></label>
                        </span>
                        <span asp-validation-for="Order.SharedInfo.ReceiveDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Order.SharedInfo.Subject" class="required col-lg-3 col-form-label form-control-label control-label">Předmět</label>
                    <div class="col-lg-9">
                        <span class="has-float-label">
                            <input asp-for="Order.SharedInfo.Subject" class="form-control" placeholder="Krátký popis nabídky" type="text" />
                            <label asp-for="Order.SharedInfo.Subject"></label>
                        </span>
                        <span asp-validation-for="Order.SharedInfo.Subject" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row eveOffer">
                    <label class="col-lg-3 col-form-label form-control-label control-label">Evektor</label>
                    <div class="col-lg-2">
                        <span class="floating-select-label">Divize</span>
                        <select class="form-control" asp-for="Order.SharedInfo.EveDivision" asp-items="@Model.EveDivisionList"></select>
                        <span asp-validation-for="Order.SharedInfo.EveDivision" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <span class="floating-select-label">Oddělení</span>
                        <select asp-for="Order.SharedInfo.EveDepartment" class="form-control select-department-ajax eve-department-default"></select>
                        <span asp-validation-for="Order.SharedInfo.EveDepartment" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                        <span class="floating-select-label">Uživatel</span>
                        <select asp-for="Order.SharedInfo.EveCreatedUser" class="form-control select-user-ajax eve-created-user-default"></select>
                        <span asp-validation-for="Order.SharedInfo.EveCreatedUser" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row customerOffer">
                    <label class="required col-lg-3 col-form-label form-control-label control-label">Zákazník</label>
                    <div class="col-lg-4">
                        <span class="floating-select-label">Firma zákazníka</span>
                        <select asp-for="Order.SharedInfo.CompanyId" class="form-control select-company-ajax"></select>
                        <span asp-validation-for="Order.SharedInfo.CompanyId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-1" data-toggle="tooltip" title="Nová firma">
                        <a asp-action="create" asp-controller="Companies" target="_blank">
                            <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <span class="floating-select-label">Kontakt</span>
                        <select asp-for="Order.SharedInfo.ContactId" class="form-control select-contact-ajax"></select>
                        <span asp-validation-for="Order.SharedInfo.ContactId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-1" data-toggle="tooltip" title="Nový kontakt">
                        <a asp-action="create" asp-controller="Contacts" class="modular-company-id" target="_blank">
                            <i class="form-control fa fa-plus-circle" style="color: green; cursor: pointer;"></i>
                        </a>
                    </div>
                </div>

                <div class="form-group row" hidden>
                    <label asp-for="Order.SharedInfo.Price" class="col-lg-3 col-form-label form-control-label control-label"></label>
                    <div class="col-lg-5">
                        <span class="has-float-label">
                            <input asp-for="Order.SharedInfo.Price" class="form-control" type="text" placeholder=" "/>
                            <label asp-for="Order.SharedInfo.Price">Cena bez DPH</label>
                        </span>
                        <span asp-validation-for="Order.SharedInfo.Price" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>

        <!--------------------------------------------------------------------------------------
            FORM - ZAKAZKA
        --------------------------------------------------------------------------------------->
        @* <form id="orderForm" class="card" role="form" autocomplete="on" asp-action="Create" method="post" > *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <hr />

        <div class="form-group row">
            <label asp-for="Order.OrderName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Order.OrderName" class="form-control" type="text" required="" placeholder=" "/>
                    <label asp-for="Order.OrderName">Číslo objednávky zákazníka</label>
                </span>
                <span asp-validation-for="Order.OrderName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label control-label">Cena dle jednacího protokolu</label>
            <div class="col-lg-3">
                <span class="has-float-label">
                    <input asp-for="Order.NegotiatedPrice" class="form-control" type="text" required placeholder=" "/>
                    <label asp-for="Order.NegotiatedPrice">Vyjednaná cena [@Model.Order.SharedInfo.Currency.Name]</label>
                </span>
                <span asp-validation-for="Order.NegotiatedPrice" class="text-danger"></span>
            </div>

            <div class="col-lg-3">
                <span class="has-float-label" data-toggle="tooltip" title="Aktuální kurz ČNB">
                    <select asp-for="Order.SharedInfo.CurrencyId" asp-items="Model.CurrencyList" class="form-control"></select>
                    <label asp-for="Order.SharedInfo.CurrencyId">Měna</label>
                </span>
                <span asp-validation-for="Order.SharedInfo.CurrencyId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.EveContactName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <span class="floating-select-label">Vedoucí projektu</span>
                <select asp-for="Order.EveContactName" class="form-control select-user-ajax project-manager-default"></select>
                <span asp-validation-for="Order.EveContactName" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <span class="floating-select-label">Key account manager</span>
                <select asp-for="Order.KeyAccountManager" class="form-control select-user-ajax"></select>
                <span asp-validation-for="Order.KeyAccountManager" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-lg-5">
                <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                   data-toggle="tooltip" data-placement="top" title="Nová EVE zakázka">
                    <i class="fa fa-plus-square"></i> Vytvořit eve zakázku (intranet)
                </a>
            </div>
            <div class="col-lg-5">
                <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                   data-toggle="tooltip" data-placement="top" title="Nová EVE modulová zakázka">
                    <i class="fa fa-plus-square"> </i> Vytvořit eve [M] zakázku (intranet)
                </a>
            </div>
        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Kód(y) vykazování</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-partial-order-codes-href mt-1" data-toggle="tooltip" title="Přidat hodinové sazby">
                    <i class="fa fa-plus"></i> Přidat kód
                </a>
            </div>
        </div>

        <!-- PLACEHOLDER: _Partial_Modal_SearchOrderCode -->
        <div id="modal-placeholder"></div>

        <!-- PLACEHOLDER: _Partial_OrderCodes_Create -->
        <div class="add-partial-order-codes"></div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Faktury</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-invoice mt-1" data-toggle="tooltip" title="Přidat fakturaci"><i class="fa fa-plus"></i> Přidat fakturaci</a>
            </div>
        </div>

        @Html.ValidationMessage("InvoiceMissing", "", new { @class = "text-danger" })
        <div class="dynamic-rows-invoices" id="template-invoices" data-order="@Model.Order.Invoices.Count()">
            @for (int i = 0; i < Model.Order.Invoices.Count(); i++)
            {
                <div class="row form-group justify-content-end">
                    <input hidden="true" asp-for="@Model.Order.Invoices[i].InvoiceId" />
                    <div class="col-lg-3 mycalendar">
                        <input asp-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="form-control" type="text" autocomplete="off" placeholder="Termín vystavení" />
                        <span asp-validation-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3 mycalendar">
                        <input asp-for="@Model.Order.Invoices[i].InvoiceDueDate" class="form-control" type="text" autocomplete="off" placeholder="Splatnost faktury" />
                        <span asp-validation-for="@Model.Order.Invoices[i].InvoiceDueDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@Model.Order.SharedInfo.Currency.Name</div>
                            </div>
                            <input asp-for="@Model.Order.Invoices[i].Cost" class="form-control" type="text" placeholder="Částka" />
                            <span asp-validation-for="@Model.Order.Invoices[i].Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteInvoice(@Model.Order.Invoices[i].InvoiceId)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
            <span asp-validation-for="Order.Invoices" class="text-danger"></span>
        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Další náklady</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-other-costs mt-1" data-toggle="tooltip" title="Přidat další náklady"><i class="fa fa-plus"></i> Další náklady</a>
            </div>
        </div>

        @Html.ValidationMessage("OtherCostsValidationMessage", "", new { @class = "text-danger" })
        <div class="dynamic-rows-other-costs" id="template-other-costs" data-order="@Model.Order.OtherCosts.Count()">
            @for (int i = 0; i < Model.Order.OtherCosts.Count(); i++)
            {
                <div class="row form-group justify-content-end">
                    <input hidden="true" asp-for="@Model.Order.OtherCosts[i].OtherCostId" />
                    <div class="col-lg-6">
                        <input asp-for="@Model.Order.OtherCosts[i].Subject" class="form-control" type="text" autocomplete="off" placeholder="Popis" />
                        <span asp-validation-for="@Model.Order.OtherCosts[i].Subject" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@Model.Order.SharedInfo.Currency.Name</div>
                            </div>
                            <input asp-for="@Model.Order.OtherCosts[i].Cost" class="form-control" type="text" placeholder="Částka" />
                            <span asp-validation-for="@Model.Order.OtherCosts[i].Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteOtherCost(@Model.Order.OtherCosts[i].OtherCostId)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
            <span asp-validation-for="Order.OtherCosts" class="text-danger"></span>
        </div>

        <div class="form-group row border-top pt-2">
            <label asp-for="Order.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Order.Notes" class="form-control"></textarea>
                <span asp-validation-for="Order.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Vytvořit zakázku" />
            </div>
        </div>

        @Html.CheckBoxFor(m => m.Order.Active, new { style = "display:none", @checked="checked" })

        </form>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        /**
        * Return Due Days or something... NOTE(jverner): Something?
        */
        function AddInvoiceDueDays(inputId) {
            var _invoiceIssueInput = $('#Order_Invoices_' + inputId + '__InvoiceIssueDate');
            var date = new Date(_invoiceIssueInput.val());
            var futureDate = getPrettyDate(date, @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
            var _invoiceDueInput = $('#Order_Invoices_' + inputId + '__InvoiceDueDate').val(futureDate);
        }

        function insertEvektorOfferName(offerName) {
            $('#Order_OrderName').val(offerName).trigger("keyup");
        };

        function changeExchangeRate(curSymbol) {
            $.ajax({
                url: '@Url.Action("getCurrencyStr", "Orders")',
                type: 'GET',
                cache: false,
                data: { symbol: curSymbol },
                success: function(res) {
                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
                    $('#Order_ExchangeRate').val(res).keyup();
                }
            });
        };

        // Just delete the <div> element
        function DeleteOtherCost(otherCostId) {
            console.log(`Deleting otherCostId: ${otherCostId}`);
            var row = document.getElementById(`dynamic-row-other-costs-${otherCostId}`);
            row.remove();
        };

        // Just delete the <div> element, don't post anything like in ActionResult Edit()
        function DeleteInvoice(invoiceId) {
            var row = document.getElementById(`dynamic-row-invoice-${invoiceId}`);
            if (row != null) {
                row.remove();
            }

            var rowDeliveryNote = document.getElementById(`dynamic-row-delivery-note-${invoiceId}`);
            if (rowDeliveryNote != null) {
                rowDeliveryNote.remove();
            }
        };

        // Just delete the <div> element
        function DeleteOrderCode(orderCodeId) {
            const row = $(`#dynamic-row-order-codes-${orderCodeId}`);
            if (row.length != 0) {
                const btnTrash = row.find("a.btn.btn-danger").tooltip("hide");
                row.remove();
            }
        };

        // Clear and unselect '.select-contact-ajax' when '.select-company-ajax' changes it's value
        $('.select-company-ajax').on('select2:select', function (e) {
            $(".select-contact-ajax").val(null).empty().trigger('change');
        });

        $(document).ready(function(){

            // Add attribute when changing Selectlist value
            var originalHref = $('.modular-company-id').attr('href');
            $('#Order_SharedInfo_CompanyId').change(function () {
                $('.modular-company-id').attr('href', originalHref + "?companyId=" + $(this).children('option:selected').val());
            })

            // DEFAULT VALUES
            // =======================================
            $('.project-manager-default').append(new Option('@Html.Raw(Model.Order.EveContactName)', '@Html.Raw(Model.Order.EveContactName)', false, false)).trigger('change');
            $('.eve-department-default').append(new Option('@Html.Raw(Model.Order.SharedInfo.EveDepartment)', '@Html.Raw(Model.Order.SharedInfo.EveDepartment)', false, false)).trigger('change');
            $('.eve-created-user-default').append(new Option('@Html.Raw(Model.Order.SharedInfo.EveCreatedUser)', '@Html.Raw(Model.Order.SharedInfo.EveCreatedUser)', false, false)).trigger('change');

            // OTHER
            // =======================================
            $("#Order_OrderName").on("keyup", function() {
                checkItemNameExists($(this), 'Orders');
            });

            // All .mycalendar input classes will have 'datepicker()' functionality
            $('.mycalendar input').datepicker(datepickerParameters[0]);

            var offerPrice = parseInt('@Model.Order.SharedInfo.Price');

            // Add new ORDER CODES row
            var idNewOrderCode = @Model.Order.OrderCodes.Count();
            $('.add-partial-order-codes-href').on('click', function() {
                $.ajax({
                    url: '@Url.Action("AddOrderCodesPartial", "Orders")/' + idNewOrderCode,
                    dataType: 'html',
                    success: function (result) {
                        $(".add-partial-order-codes").append(result);

                        @* floatingLabelsInit(); *@
                        initializeTooltips();
                        initializeOrderAjaxModalClickEvent();
                        $('form').data('validator', null);
                        $.validator.unobtrusive.parse($('form'));
                    }
                });


                idNewOrderCode = idNewOrderCode + 1;
            });

            // Add new INVOICES row
            var idInvoice = @Model.Order.Invoices.Count();
            var invoiceDueDays = @Html.Raw(Json.Serialize(Model.InvoiceDueDays));
            $('.add-row-invoice').click(function () {
                console.log('Adding invoice: ' + idInvoice);
                var html =
                    '<div class="row form-group justify-content-end border-top pt-4" id="dynamic-row-invoice-' + idInvoice + '">'+

                        '<input type="number" hidden="true" data-val="true" data-val-required="The InvoiceId field is required." id="Order_Invoices_' + idInvoice + '__InvoiceId" name="Order.Invoices[' + idInvoice + '].InvoiceId" value="0">'+

                        '<div class="col-lg-3 mycalendar">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" autocomplete="off" placeholder="dd-MM-yyyy" data-id="' + idInvoice + '" data-val="true" data-val-required="The Předp. termín vystavení faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceIssueDate" name="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" value="">'+
                                '<label for="Order_Invoices_' + idInvoice + '__InvoiceIssueDate">Termín vystavení</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" autocomplete="off" placeholder="dd-MM-yyyy" data-val="true" data-id="' + idInvoice + '" data-val-required="The Splatnost faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceDueDate" name="Order.Invoices[' + idInvoice + '].InvoiceDueDate" value="">'+
                                '<label for="Order_Invoices_' + idInvoice + '__InvoiceDueDate">Splatnost faktury</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceDueDate" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_Invoices_' + idInvoice + '__Cost" name="Order.Invoices[' + idInvoice + '].Cost" value="" />'+
                                '<label for="Order_Invoices_' + idInvoice + '__Cost">Částka [@Model.Order.SharedInfo.Currency.Name]</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].Cost" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteInvoice(' + idInvoice + ')"><i class="fa fa-trash white"></i></a>'+
                        '</div>'+

                    '</div>'+

                    '<div class="row form-group justify-content-end " id="dynamic-row-delivery-note-' + idInvoice + '">'+
                        '<div class="col-lg-9">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder="Cesta k dodacímu listu" id="Order_Invoices_' + idInvoice + '__DeliveryNote" name="Order.Invoices[' + idInvoice + '].DeliveryNote" value="" />'+
                                '<label for="Order_Invoices_' + idInvoice + '__DeliveryNote">Dodací list</label>'+
                            '</span>'+
                            '<span data-valmsg-for="Order.Invoices[' + idInvoice + '].DeliveryNote" data-valmsg-replace="true" class="text-danger"></span>'+
                        '</div>'+
                        '<div class="col-lg-1"></div>'+
                    '</div>'
                ;
                var _formTemp = $("#template-invoices").clone(true)
                var _targetForm = $(".dynamic-rows-invoices")
                _targetForm.append(html)

                var _invoiceIssueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceIssueDate');
                var _invoiceDueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceDueDate');

                var parsed_date = @Html.Raw(Json.Serialize(Model.Offer?.SharedInfo.EstimatedFinishDate))
                if ( parsed_date != null) {
                    var issueDate = getPrettyDate(new Date(parsed_date), 0)
                    _invoiceIssueInput.val(issueDate);
                    var futureDate = getPrettyDate(new Date(parsed_date), @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
                    _invoiceDueInput.val(futureDate);
                }

                _invoiceIssueInput.datepicker(datepickerParameters[0]);
                _invoiceDueInput.datepicker(datepickerParameters[0]);
                $('.newlyAddedTooltip').tooltip();

                _invoiceIssueInput.on("changeDate", function(data) {
                    var date = data.date;
                    var futureDate = getPrettyDate(date, @Model.Order?.SharedInfo?.Company?.InvoiceDueDays);
                    $('#Order_Invoices_' + _invoiceIssueInput.data('id') + '__InvoiceDueDate').val(futureDate);
                 });

                floatingLabelsInit();

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idInvoice = idInvoice + 1;
                return false;
            });

            // Add new OTHER COSTS row
            var idOtherCosts = @Model.Order.OtherCosts.Count();
            $('.add-row-other-costs').click(function () {
                var html =
                    '<div class="row form-group justify-content-end" id="dynamic-row-other-costs-' + idOtherCosts + '">'+
                        '<input type="number" hidden="true" data-val="true" data-val-required="The OtherCostId field is required." id="Order_OtherCosts_' + idOtherCosts + '__OtherCostId" name="Order.OtherCosts[' + idOtherCosts + '].OtherCostId" value="0">'+

                        '<div class="col-lg-6">'+
                            '<input class="form-control" type="text" autocomplete="off" placeholder="Popis" data-val="true" data-val-required="Je třeba přidat popis dalšího nákladu" id="Order_OtherCosts_' + idOtherCosts + '__Subject" name="Order.OtherCosts[' + idOtherCosts + '].Subject" value="">'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Subject" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_OtherCosts_' + idOtherCosts + '__Cost" name="Order.OtherCosts[' + idOtherCosts + '].Cost" value="" />'+
                                '<label for="Order_OtherCosts_' + idOtherCosts + '__Cost"">Částka [@Model.Order.SharedInfo.Currency.Name]</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idOtherCosts + '].Cost" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteOtherCost(' + idOtherCosts + ')"><i class="fa fa-trash white"></i></a>'+
                        '</div>'+

                    '</div>';

                //$("tbody").append($(html).clone(true))
                var _formTemp = $("#template-other-costs").clone(true)
                var _targetForm = $(".dynamic-rows-other-costs")
                _targetForm.append(html)

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idOtherCosts = idOtherCosts + 1;
                return false;
            });

        })

    </script>

}

