@using System.Globalization

@{
    ViewData["Title"] = "Nová zakázka";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.ViewModels.OfferOrderVM

<style>
    @* .money-label::after {
        content: " [@Model.CurrencyName]";
        color: black;
        font-size: 1em;
    } *@
    .input-group-text {
        font-size: 0.9rem;
    }
    .input-validation-error {
        border-color: red;
    }
    .cardTitleMerged {
        display: flex;
        justify-content: space-between;
    }
    .input-group-text {
        font-size: 0.9rem;
    }
</style>

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-8 push-lg-4 personal-info">

        @* @Html.HiddenFor(model => model.ReturnUrl) *@

        <!--------------------------------------------------------------------------------------
            FORM - OBJEDNAVKA
        --------------------------------------------------------------------------------------->
        <form class="card" role="form" autocomplete="on" asp-action="Refresh" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h5 class="card-title">Detaily objednávky</h5>
        <hr />

        <div class="form-group row">
            <label asp-for="Order.OfferId" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-4">
                <input type="hidden" asp-for="Order.OrderId" />
                @Html.DropDownList("OfferId", ViewBag.WonOffersList as SelectList, "-- Vyber objednávku --", new { @class = "form-control selectpicker", onchange = @"this.form.submit();" })
                <span asp-validation-for="Order.OfferId" class="text-danger"></span>
            </div>
        </div>

        @if (@Model.Offer?.OfferId != 0 && @Model.Offer?.OfferId != null)
        {
            <ul>
                <li><b>Předmět:</b> @Model.Offer?.Subject - <b>@String.Format(CultureInfo.CreateSpecificCulture(Model.Offer?.Currency.CultureCode), "{0:C0}", @Model.Offer?.Price)</b> (@String.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C0}", Model.Offer?.PriceCzk))</li>
                <li><b>Zákazník:</b> @Model.OfferCompanyName (<b>Splatnost faktury:</b> @Model.InvoiceDueDays dní)</li>
                <li>
                    <b>Přijetí poptávky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.ReceiveDate) /
                    <b>Odeslání nabídky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.SentDate) /
                    <b><label asp-for="Offer.EstimatedFinishDate"></label>:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.EstimatedFinishDate)
                </li>
            </ul>
        }

        <div class="cardTitleMerged">
            <div class="">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>

            @if (@Model.Offer?.OfferId != 0 && @Model.Offer?.OfferId != null)
            {
                <div class="">
                    <a asp-action="Edit" asp-controller="Offers" asp-route-id="@Model.Offer.OfferId" class="btn btn-primary"><i class="fa fa-list-alt"></i> Přejít na objednávku</a>
                </div>
            }
        </div>

        </form>

        <br />

        <!--------------------------------------------------------------------------------------
            FORM - ZAKAZKA
        --------------------------------------------------------------------------------------->
        <form id="orderForm" class="card" role="form" autocomplete="on" asp-action="Create" method="post" style="visibility: hidden;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OfferId" />
        <input type="hidden" asp-for="Order.OfferId" />

        <h5 class="card-title">Vyplnit novou zakázku</h5>
        <hr />

        <div class="form-group row">
            <label asp-for="Order.OrderName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <div class="input-group mb-2 mr-sm-2">
                    <input asp-for="Order.OrderName" class="form-control" type="text" required="" />
                    <div class="input-group-append">
                        <div class="input-group-text" data-toggle="tooltip" title="Vložit název Evektor nabídky" onclick="insertEvektorOfferName('@Model.Offer.OfferName');" style="cursor: pointer;">
                            <i class="fa fa-caret-left">&nbsp;<i class="fa fa-tasks"></i></i>
                        </div>
                    </div>
                </div>
            </div>
            <span asp-validation-for="Order.OrderName" class="text-danger"></span>
        </div>

        <div class="form-group eveOrder">
            <div class="form-group row">
                <label asp-for="Order.OrderCode" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-5">
                    <select asp-for="Order.OrderCode" asp-items="ViewBag.EveOrderCodes" class="form-control selectpicker">
                        <option value="">-- Vyber kód --</option>
                    </select>
                    <span asp-validation-for="Order.OrderCode" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                       data-toggle="tooltip" data-placement="top" title="Nová EVE zakázka">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProjectM")" target="_blank" class="btn btn-outline-success form-control"
                       data-toggle="tooltip" data-placement="top" title="Nová EVE modulová zakázka">
                        <i class="fa fa-plus-square"></i> [M]
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Order.EveContactName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <select asp-for="Order.EveContactName" asp-items="ViewBag.EveContactList" class="form-control selectpicker">
                        <option value="">-- Vyber kontakt --</option>
                    </select>
                    <span asp-validation-for="Order.EveContactName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Faktury</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-invoice mt-1" data-toggle="tooltip" title="Přidat fakturaci"><i class="fa fa-plus"></i> Přidat fakturaci</a>
            </div>
        </div>

        @Html.ValidationMessage("InvoiceMissing", "", new { @class = "text-danger" })
        <div class="dynamic-rows-invoices" id="template-invoices" data-order="@Model.Order.Invoices.Count()">
            @for (int i = 0; i < Model.Order.Invoices.Count(); i++)
            {
                <div class="row form-group justify-content-end">
                    <input hidden="true" asp-for="@Model.Order.Invoices[i].InvoiceId" />
                    <div class="col-lg-3 mycalendar">
                        <input asp-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="form-control" type="text" autocomplete="off" placeholder="Termín vystavení" />
                        <span asp-validation-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3 mycalendar">
                        <input asp-for="@Model.Order.Invoices[i].InvoiceDueDate" class="form-control" type="text" autocomplete="off" placeholder="Splatnost faktury" />
                        <span asp-validation-for="@Model.Order.Invoices[i].InvoiceDueDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@Model.CurrencyName</div>
                            </div>
                            <input asp-for="@Model.Order.Invoices[i].Cost" class="form-control" type="text" placeholder="Částka" />
                            <span asp-validation-for="@Model.Order.Invoices[i].Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteInvoice(@Model.Order.Invoices[i].InvoiceId)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
            <span asp-validation-for="Order.Invoices" class="text-danger"></span>
        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Další náklady</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-other-costs mt-1" data-toggle="tooltip" title="Přidat další náklady"><i class="fa fa-plus"></i> Další náklady</a>
            </div>
        </div>

        @Html.ValidationMessage("OtherCostsValidationMessage", "", new { @class = "text-danger" })
        <div class="dynamic-rows-other-costs" id="template-other-costs" data-order="@Model.Order.OtherCosts.Count()">
            @for (int i = 0; i < Model.Order.OtherCosts.Count(); i++)
            {
                <div class="row form-group justify-content-end">
                    <input hidden="true" asp-for="@Model.Order.OtherCosts[i].OtherCostId" />
                    <div class="col-lg-6">
                        <input asp-for="@Model.Order.OtherCosts[i].Subject" class="form-control" type="text" autocomplete="off" placeholder="Popis" />
                        <span asp-validation-for="@Model.Order.OtherCosts[i].Subject" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@Model.CurrencyName</div>
                            </div>
                            <input asp-for="@Model.Order.OtherCosts[i].Cost" class="form-control" type="text" placeholder="Částka" />
                            <span asp-validation-for="@Model.Order.OtherCosts[i].Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteOtherCost(@Model.Order.OtherCosts[i].OtherCostId)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
            <span asp-validation-for="Order.OtherCosts" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Order.HourWage" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                 <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.HourWage" class="form-control" type="text" onchange="this.value = this.value.replace(/,/g, '.')"/>
                 </div>
                <span asp-validation-for="Order.HourWage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.PriceFinalCzk" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Kč</div>
                    </div>
                    <input asp-for="Order.PriceFinalCzk" class="form-control" type="text" readonly />
                </div>
                <span asp-validation-for="Order.PriceFinalCzk" class="text-danger"></span>
            </div>
            <label asp-for="Order.ExchangeRate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                 <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span>@Model.CurrencyName</span></div>
                    </div>
                    <input asp-for="Order.ExchangeRate" class="form-control" type="text" />
                    <div class="input-group-append">
                        <div class="input-group-text" data-toggle="tooltip" title="Vložit dnešní kurz z ČNB" onclick="changeExchangeRate('@Model.CurrencyName');" style="cursor: pointer;">
                            <i class="fa fa-caret-left">&nbsp;<i class="fa fa-cloud-download"></i></i>
                        </div>
                    </div>
                 </div>
                <span asp-validation-for="Order.ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Order.Notes" class="form-control"></textarea>
                <span asp-validation-for="Order.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Vyprázdnit pole" data-toggle="tooltip" title="Vyprázdní všechna pole" />
                <input type="submit" class="btn btn-primary" value="Vytvořit zakázku" />
            </div>
        </div>

        @Html.CheckBoxFor(m => m.Order.Active, new { style = "display:none", @checked="checked" })

        </form>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function AddInvoiceDueDays(inputId) {
            var _invoiceIssueInput = $('#Order_Invoices_' + inputId + '__InvoiceIssueDate');
            var date = new Date(_invoiceIssueInput.val());
            var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
            var _invoiceDueInput = $('#Order_Invoices_' + inputId + '__InvoiceDueDate').val(futureDate);
        }

        function insertEvektorOfferName(offerName) {
            $('#Order_OrderName').val(offerName);
        };

        function changeExchangeRate(curSymbol) {
            $.ajax({
                url: '@Url.Action("getCurrencyStr", "Orders")',
                type: 'GET',
                //dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { symbol: curSymbol },
                success: function(res) {
                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
                    $('#Order_ExchangeRate').val(res).keyup();
                }
            });
        };

        // Just delete the <div> element
        function DeleteOtherCost(otherCostId) {
            console.log(`Deleting otherCostId: ${otherCostId}`);
            var row = document.getElementById(`dynamic-row-other-costs-${otherCostId}`);
            row.remove();
        };

        // Just delete the <div> element, don't post anything like in ActionResult Edit()
        function DeleteInvoice(invoiceId) {
            var row = document.getElementById(`dynamic-row-invoice-${invoiceId}`);
            if (row != null) {
                row.remove();
            }

            var rowDeliveryNote = document.getElementById(`dynamic-row-delivery-note-${invoiceId}`);
            if (rowDeliveryNote != null) {
                rowDeliveryNote.remove();
            }
        };

        $(document).ready(function(){

            // Upon page load, check if OfferId != 0 (offer is selected) then set orderForm as visible
            if (@Model.Order.OfferId != 0) {
                console.log("OfferId: " + @Model.Order.OfferId);
                document.getElementById("orderForm").style.visibility = "visible";
            }

            // All .mycalendar input classes will have 'datepicker()' functionality
            $('.mycalendar input').datepicker(datepickerParameters[0]);

            // When changing <PriceFinal>, change <PriceDiscount> value
            $('#Order_PriceFinal').on('input', function(){
                var offerPrice = parseInt($('#Offer_Price').val());
                var finalPrice = parseInt($('#Order_PriceFinal').val());
                $('#Order_PriceDiscount').val(offerPrice - finalPrice);
            });

            // TODO: 2020-09-18 Toto udelat na dynamicky pridane radky
            // https://stackoverflow.com/questions/28062254/how-can-i-detect-values-change-in-column-for-dynamic-rows-in-table/28062483#28062483
            // When changing InvoiceIssueDate, fill InvoiceDueDate by + days from <InvoiceDueDays>
            // https://ultimatecourses.com/blog/attaching-event-handlers-to-dynamically-created-javascript-elements
            //$('#Order_InvoiceIssueDate').change('input', function(){

            function dynamicEvent() {
                console.log("Reaguji!!");
            };

            $('.invoiceDate').change('input', function(){
                var date = new Date($('.invoiceDate').val());
                var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                $('#Order_InvoiceDueDate').val(futureDate);
            });

//            // PriceFinalCzk realtime refresh
//            var exchangeRate = document.getElementById('Order_ExchangeRate')
//            var priceFinal = document.getElementById('Order_PriceFinal')
//            var otherCosts = document.getElementById('Order_OtherCosts')
//            var priceFinalCzk = document.getElementById('Order_PriceFinalCzk')
//
//            trigFunc = function(){
//                var exchangeRateNum = parseFloat(exchangeRate.value.replace(/,/g, "."))
//                var priceFinalNum = parseFloat(priceFinal.value.replace(/,/g, "."))
//                var otherCostsNum = parseFloat(otherCosts.value.replace(/,/g, "."))
//                priceFinalCzk.value = parseInt(exchangeRateNum * (priceFinalNum - otherCostsNum));
//            }
//            exchangeRate.onkeyup = trigFunc;
//            priceFinal.onkeyup = trigFunc;
//            otherCosts.onkeyup = trigFunc;

            // Add new INVOICES row
            var idInvoice = @Model.Order.Invoices.Count();
            var invoiceDueDays = @Html.Raw(Json.Serialize(Model.InvoiceDueDays));
            $('.add-row-invoice').click(function () {
                console.log('Adding invoice: ' + idInvoice);
                var html =''+
                    @* '<div class="dynamic-rows-invoices" id="template-invoices" data-order="' + idInvoice + '">'+ *@
                        '<div class="row form-group justify-content-end" id="dynamic-row-invoice-' + idInvoice + '">'+

                            '<input type="number" hidden="true" data-val="true" data-val-required="The InvoiceId field is required." id="Order_Invoices_' + idInvoice + '__InvoiceId" name="Order.Invoices[' + idInvoice + '].InvoiceId" value="0">'+

                            '<div class="col-lg-3 mycalendar">'+
                                '<input class="form-control" type="text" autocomplete="off" placeholder="Termín vystavení" data-id="' + idInvoice + '" data-val="true" data-val-required="The Předp. termín vystavení faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceIssueDate" name="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" value="">'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<div class="input-group mb-2 mr-sm-2">'+
                                    '<div class="input-group-prepend">'+
                                        '<div class="input-group-text newlyAddedTooltip" data-toggle="tooltip" title="Přičíst dny" style="cursor: pointer;" onclick="AddInvoiceDueDays(' + idInvoice + ');">@Model.InvoiceDueDays &nbsp;<i class="fa fa-caret-right"></i></div>'+
                                    '</div>'+
                                        '<input class="form-control" type="text" autocomplete="off" placeholder="Splatnost faktury" data-val="true" data-id="' + idInvoice + '" data-val-required="The Splatnost faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceDueDate" name="Order.Invoices[' + idInvoice + '].InvoiceDueDate" value="">'+
                                        '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceDueDate" data-valmsg-replace="true"></span>'+
                                '</div>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<div class="input-group mb-2 mr-sm-2">'+
                                    '<div class="input-group-prepend">'+
                                        '<div class="input-group-text">@Model.CurrencyName</div>'+
                                    '</div>'+
                                    '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_Invoices_' + idInvoice + '__Cost" name="Order.Invoices[' + idInvoice + '].Cost" value="">'+
                                    '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].Cost" data-valmsg-replace="true"></span>'+
                                '</div>'+
                            '</div>'+

                            '<div class="col-lg-1">'+
                                '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteInvoice(' + idInvoice + ')"><i class="fa fa-trash white"></i></a>'+
                            '</div>'+

                        '</div>'+

                        '<div class="row form-group justify-content-end " id="dynamic-row-delivery-note-' + idInvoice + '">'+
                            '<div class="col-lg-9">'+
                                '<div class="field-wrapper">'+
                                    '<input class="form-control" type="text" id="Order_Invoices_' + idInvoice + '__DeliveryNote" name="Order.Invoices[' + idInvoice + '].DeliveryNote value="" />'+
                                    '<div class="field-placeholder"><span>Dodací list</span></div>'+
                                '</div>'+
                                '<span data-valmsg-for="Order.Invoices[' + idInvoice + '].DeliveryNote" data-valmsg-replace="true" class="text-danger"></span>'+
                            '</div>'+
                            '<div class="col-lg-1"></div>'+
                        '</div>'
                    @* '</div>' *@
                    ;
                var _formTemp = $("#template-invoices").clone(true)
                var _targetForm = $(".dynamic-rows-invoices")
                _targetForm.append(html)

                var _invoiceIssueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceIssueDate');
                var _invoiceDueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceDueDate');

                var parsed_date = @Html.Raw(Json.Serialize(Model.Offer.EstimatedFinishDate))
                if ( parsed_date != null) {
                    _invoiceIssueInput.val(new Date(parsed_date).toISOString().substring(0, 10));
                }

                _invoiceIssueInput.datepicker(datepickerParameters[0]);
                _invoiceDueInput.datepicker(datepickerParameters[0]);
                $('.newlyAddedTooltip').tooltip();

                _invoiceIssueInput.on("changeDate", function() {
                    var date = new Date(_invoiceIssueInput.val());
                    var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                    $('#Order_Invoices_' + _invoiceIssueInput.data('id') + '__InvoiceDueDate').val(futureDate);
                 });

                floatingLabelsInit();

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idInvoice = idInvoice + 1;
                return false;
            });

            // Add new OTHER COSTS row
            var idOtherCosts = @Model.Order.OtherCosts.Count();
            $('.add-row-other-costs').click(function () {
                var html =
                    '<div class="row form-group justify-content-end" id="dynamic-row-other-costs-' + idOtherCosts + '">'+
                        '<input type="number" hidden="true" data-val="true" data-val-required="The OtherCostId field is required." id="Order_OtherCosts_' + idOtherCosts + '__OtherCostId" name="Order.OtherCosts[' + idOtherCosts + '].OtherCostId" value="0">'+
                        '<div class="col-lg-6">'+
                            '<input class="form-control" type="text" autocomplete="off" placeholder="Popis" data-val="true" data-val-required="Je třeba přidat popis dalšího nákladu" id="Order_OtherCosts_' + idOtherCosts + '__Subject" name="Order.OtherCosts[' + idOtherCosts + '].Subject" value="">'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Subject" data-valmsg-replace="true"></span>'+
                        '</div>'+
                        '<div class="col-lg-3">'+
                            '<div class="input-group mb-2 mr-sm-2">'+
                                '<div class="input-group-prepend">'+
                                    '<div class="input-group-text">@Model.CurrencyName</div>'+
                                '</div>'+
                                '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_OtherCosts_' + idOtherCosts + '__Cost" name="Order.OtherCosts[' + idOtherCosts + '].Cost" value="">'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Cost" data-valmsg-replace="true"></span>'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteOtherCost(' + idOtherCosts + ')"><i class="fa fa-trash white"></i></a>'+
                        '</div>'+
                    '</div>';

                //$("tbody").append($(html).clone(true))
                var _formTemp = $("#template-other-costs").clone(true)
                var _targetForm = $(".dynamic-rows-other-costs")
                _targetForm.append(html)

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idOtherCosts = idOtherCosts + 1;
                return false;
            });

        })

    </script>

}

