@{
    ViewData["Title"] = "Úprava zakázky";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.ViewModels.OfferOrderVM

<style>
    /*
    .money-label::after {
        content: " [@Model.CurrencyName]";
        color: black;
        font-size: 1em;
    }
    */
    .cardTitleMerged {
        display: flex;
        justify-content: space-between;
    }
    .input-group-text {
        font-size: 0.9rem;
    }
</style>

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 push-lg-2 personal-info">

        <!--------------------------------------------------------------------------------------
            FORM - OBJEDNAVKA
        --------------------------------------------------------------------------------------->
        <form class="card" role="form" autocomplete="on" asp-action="Refresh" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Edit" value="true" />

        @* <div class="cardTitleMerged">

            <h5 class="card-title">Detaily objednávky</h5>

            <div class="form-group">
                @Html.ActionLink(" Přejít na objednávku", "Edit", "Offers", new { id = Model.Offer.OfferId }, new { @class = "btn btn-primary fa fa-list-alt" })
            </div>

        </div> *@

        <h5 class="card-title">Detaily objednávky</h5>

        <hr />

        <div class="form-group row">
            <label asp-for="Order.OfferId" class="required col-lg-3 col-form-label form-control-label control-label">Objednávka</label>
            <div class="col-lg-4">
                <input type="hidden" asp-for="Order.OfferId" />
                <input type="hidden" asp-for="Order.OrderId" />
                @* @Html.DropDownList("OfferId", ViewBag.WonOffersList as SelectList, "-- Vyber objednávku --", new { @class = "form-control selectpicker", onchange = @"this.form.submit();" }) *@
                <input asp-for="Offer.OfferName" class="form-control" type="text" readonly />
                <span asp-validation-for="Order.OfferId" class="text-danger"></span>
            </div>
            <div class="col-lg-1">
                <label asp-for="OfferCompanyName" class="col-form-label form-control-label control-label"></label>
            </div>
            <div class="col-lg-4">
                <input asp-for="OfferCompanyName" class="form-control" type="text" readonly />
                <span asp-validation-for="OfferCompanyName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 align-self-center">
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-angle-down"></i> Detaily
                </button>
            </div>
            <div class="col-lg-5"></div>
        </div>

        <div class="collapse" id="collapseExample">

            <div class="form-group row">
                <label asp-for="Offer.ReceiveDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-4">
                    <input asp-for="Offer.ReceiveDate" class="form-control" type="text" required="" autocomplete="off" readonly />
                </div>
                <label class="col-lg-1 col-form-label form-control-label control-label"> <i class="fa fa-angle-double-right"></i> </label>
                <div class="col-lg-4">
                    <input asp-for="Offer.SentDate" class="form-control" type="text" autocomplete="off" readonly />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Offer.Subject" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <input asp-for="Offer.Subject" class="form-control" type="text" readonly />
                    <span asp-validation-for="Offer.Subject" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Offer.Price" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-5">
                    <input asp-for="Offer.Price" class="form-control" type="text" readonly />
                    <span asp-validation-for="Offer.Price" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    @Html.DropDownListFor(model => model.Offer.CurrencyId, ViewBag.CurrencyList as SelectList, new { @class = "form-control selectpicker", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Offer.CurrencyId)
                    <span asp-validation-for="Offer.Currency" class="text-danger"></span>
                </div>
                <div class="col-lg-2">
                    <input asp-for="Offer.ExchangeRate" class="form-control" type="text" readonly />
                    <span asp-validation-for="Offer.ExchangeRate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="InvoiceDueDays" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <input asp-for="InvoiceDueDays" class="form-control" type="text" required="" autocomplete="off" readonly />
                </div>
            </div>


        </div>  <!-- END collapse -->

        <div class="cardTitleMerged">
            <div class="">
                <a asp-action="Index" class="btn btn-light"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>

            <div class="">
                @* TODO: Zmenit font z FA na normalni button *@
                @Html.ActionLink(" Přejít na objednávku", "Edit", "Offers", new { id = Model.Offer.OfferId }, new { @class = "btn btn-primary fa fa-list-alt" })
            </div>
        </div>

        </form>

        <br />

        <!--------------------------------------------------------------------------------------
            FORM - ZAKAZKA
        --------------------------------------------------------------------------------------->
        <form class="card" role="form" autocomplete="on" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Order.OfferId" />
        <input type="hidden" asp-for="Order.OrderId" />

        <div class="cardTitleMerged">

            <h5 class="card-title">Upravit informace o zakázce</h5>

            <div class="form-group">
                <div class="pretty p-bigger p-default p-curve p-toggle">
                    <input asp-for="Order.Active" type="checkbox"/>
                    <div class="state p-success p-on">
                        <label>Aktivní</label>
                    </div>
                    <div class="state p-danger p-off">
                        <label>Neaktivní </label>
                    </div>
                </div>
                <span asp-validation-for="Order.Active" class="text-danger"></span>
            </div>

        </div>
        <hr />

        <div class="form-group row">
            <label asp-for="Order.OrderName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="Order.OrderName" class="form-control" type="text" required="" placeholder="EV-ord/rrrr/####" />
                <span asp-validation-for="Order.OrderName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group eveOrder">
            <div class="form-group row ">
                <label asp-for="Order.OrderCode" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-5">
                    @Html.DropDownListFor(model => model.Order.OrderCode, ViewBag.EveOrderCodes as SelectList, "-- Vyber kód --", new { @class = "form-control selectpicker", @style = "min-width: 500px !important" })
                    <span asp-validation-for="Order.OrderCode" class="text-danger"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                    data-toggle="tooltip" data-placement="top" title="Nová EVE zakázka">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                    data-toggle="tooltip" data-placement="top" title="Nová EVE modulová zakázka">
                        <i class="fa fa-plus-square"> [M]</i>
                    </a>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Order.EveContactName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    @Html.DropDownListFor(model => model.Order.EveContactName, ViewBag.EveContactList as SelectList, "-- Vyber kontakt --", new { @class = "form-control selectpicker" })
                    <span asp-validation-for="Order.EveContactName" class="text-danger"></span>
                </div>
                @* <div class="col-lg-3">
                    <a href="@Url.Action("Create", "Contacts")" target="_blank" class="btn btn-outline-success form-control"
                    data-toggle="tooltip" data-placement="top" title="Přidat kontakt">
                        <i class="fa fa-plus-square"> Přidat kontakt</i>
                    </a>
                </div> *@
            </div>

        </div>

        <div class="form-group row">
            <label asp-for="Order.BillOfDelivery" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <input asp-for="Order.BillOfDelivery" class="form-control" type="text" />
                <span asp-validation-for="Order.BillOfDelivery" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.InvoiceIssueDate" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="Order.InvoiceIssueDate" class="form-control" type="text" autocomplete="off"/>
                <span asp-validation-for="Order.InvoiceIssueDate" class="text-danger"></span>
            </div>
        </div>
        @* TODO: pridat zde navaznost na Offer.Company.InvoiceDueDays a pri onchange() InvoiceIssueDate pridat dny, pokud prazdne*@
        <div class="form-group row">
            <label asp-for="Order.InvoiceDueDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9 mycalendar">
                <input asp-for="Order.InvoiceDueDate" class="form-control" type="text" autocomplete="off"/>
                <span asp-validation-for="Order.InvoiceDueDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.PriceFinal" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.PriceFinal" class="form-control" type="text" required="" />
                </div>
                <span asp-validation-for="Order.PriceFinal" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="Order.PriceDiscount" class="col-form-label form-control-label control-label"></label>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.PriceDiscount" class="form-control" type="text" required="" readonly />
                </div>
                <span asp-validation-for="Order.PriceDiscount" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.OtherCosts" class="col-lg-3 col-form-label form-control-label control-label" ></label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.OtherCosts" class="form-control" type="text" />
                </div>
            </div>
            <span asp-validation-for="Order.OtherCosts" class="text-danger"></span>
            <label asp-for="Order.HourWage" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                 <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.HourWage" class="form-control" type="text" onchange="this.value = this.value.replace(/,/g, '.')"/>
                 </div>
                <span asp-validation-for="Order.HourWage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.PriceFinalCzk" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Kč</div>
                    </div>
                    <input asp-for="Order.PriceFinalCzk" class="form-control" type="text" readonly />
                </div>
                <span asp-validation-for="Order.PriceFinalCzk" class="text-danger"></span>
            </div>
            <label asp-for="Order.ExchangeRate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                 <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span>@Model.CurrencyName</span></div>
                    </div>
                    <input asp-for="Order.ExchangeRate" class="form-control" type="text" />
                    <div class="input-group-append">
                        <div class="input-group-text" data-toggle="tooltip" title="Vložit dnešní kurz z ČNB" onclick="changeExchangeRate('@Model.CurrencyName');" style="cursor: pointer;">
                            <i class="fa fa-caret-left">&nbsp;<i class="fa fa-cloud-download"></i></i>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Order.ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Order.Notes" class="form-control"></textarea>
                @* @Html.TextAreaFor(m => m.Order.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                <span asp-validation-for="Order.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.CreateDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3 mycalendar">
                <input asp-for="Order.CreateDate" class="form-control" type="text" readonly/>
                <span asp-validation-for="Order.CreateDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary"  value="Resetovat pole" data-toggle="tooltip" title="Vrátí neuložené úpravy" />
                <input type="submit" class="btn btn-primary" name="actionType" value="Uložit" />
                <input type="submit" class="btn btn-primary" name="actionType" value="Uložit a zavřít" />
                <a href="#" class="btn btn-danger pull-right" onclick="ConfirmDelete(@Model.OfferId)">Smazat</a>
            </div>
        </div>

        </form>
    </div>
</div>


<!-- Modal Confirm Delete-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Smazání nabídky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?<br />
                Ev. Číslo: <b>@Model.Order.OrderName</b>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-warning" onclick="DeactivateItem()">Deaktivovat</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>

    <script>

        // MODAL dialog for delete confirmation
        //-------------------------------------
        var ConfirmDelete = function (ItemId) {
            $("#deleteConfirmModal").modal('show');
        };

        // POST delete command to controller
        //----------------------------------
        function DeleteItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { Id: @Model.Order.OrderId },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = '../'
                },
                error: function() {
                    alert("Nelze z nějakého důvodu odstranit...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

        // POST deactivate command to controller
        //----------------------------------
        function DeactivateItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Deactivate")',
                data: { Id: @Model.Order.OrderId },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = './' + @Model.Order.OrderId
                },
                error: function() {
                    alert("Nelze z nějakého důvodu deaktivovat...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

        function changeExchangeRate(curSymbol) {
            $.ajax({
                url: '@Url.Action("getCurrencyStr", "Orders")',
                type: 'GET',
                //dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { symbol: curSymbol },
                success: function(res) {
                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
                    $('#Order_ExchangeRate').val(res).keyup();
                }
            });
        }

        $(document).ready(function(){

            $('.mycalendar input').datepicker({
                // format: "dd.mm.yyyy",
                // startDate: "01.01.1980",
                // endDate: "01.01.2021",
                format: "yyyy-mm-dd",
                startDate: "1980-01-01",
                endDate: "2021-01-01",
                todayBtn: "linked",
                language: "cs",
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });


            $('#Order_PriceFinal').on('input', function(){
                var offerPrice = parseInt($('#Offer_Price').val());
                var finalPrice = parseInt($('#Order_PriceFinal').val());
                $('#Order_PriceDiscount').val(offerPrice - finalPrice);
            });


            $('#Order_InvoiceIssueDate').change('input', function(){
                var date = new Date($('#Order_InvoiceIssueDate').val());
                date.setDate( date.getUTCDate() + @Model.InvoiceDueDays );
                var futureDate = date.getFullYear()
                    +'-'
                    +('0'+(date.getMonth()+1)).slice(-2)
                    +'-'
                    +('0'+(date.getDate())).slice(-2);
                $('#Order_InvoiceDueDate').val(futureDate);
            });

            // PriceFinalCzk realtime refresh
            var var0 = document.getElementById('Order_ExchangeRate')
            var var1 = document.getElementById('Order_PriceFinal')
            var var2 = document.getElementById('Order_OtherCosts')
            var storage = document.getElementById('Order_PriceFinalCzk')

            trigFunc = function(){
                var val1 = parseFloat(var0.value.replace(/,/g, "."))
                var val2 = parseFloat(var1.value.replace(/,/g, "."))
                var val3 = parseFloat(var2.value.replace(/,/g, "."))
                storage.value = parseInt(val1 * (val2 + val3));
            }
            var0.onkeyup = trigFunc;
            var1.onkeyup = trigFunc;
            var2.onkeyup = trigFunc;
        })

    </script>

}

