@using System.Globalization;

@{
    ViewData["Title"] = "Úprava zakázky";
}

@* @model memo.ViewModels.CreateOfferViewModel *@
@model memo.ViewModels.OfferOrderVM

<style>
    /*
    .money-label::after {
        content: " [@Model.CurrencyName]";
        color: black;
        font-size: 1em;
    }
    */
    .cardTitleMerged {
        display: flex;
        justify-content: space-between;
    }
    .input-group-text {
        font-size: 0.9rem;
    }
</style>

@await Html.PartialAsync("_PartialToastNotification")

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
    <h3 style="color: green">@ViewBag.message</h3>
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 push-lg-2 personal-info">

        <!--------------------------------------------------------------------------------------
            FORM - NABIDKA
        --------------------------------------------------------------------------------------->
        <form class="card" role="form" autocomplete="on" asp-action="Refresh" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Edit" value="true" />

        <h5 class="card-title">Detaily nabídky</h5>

        <hr />

        <div class="form-group row">
            <label asp-for="Order.OfferId" class="required col-lg-3 col-form-label form-control-label control-label">Evektor nabídka</label>
            <div class="col-lg-4">
                <input type="hidden" asp-for="Order.OfferId" />
                <input type="hidden" asp-for="Order.OrderId" />
                <input asp-for="Offer.OfferName" class="form-control" type="text" readonly />
                <span asp-validation-for="Order.OfferId" class="text-danger"></span>
            </div>
        </div>

        @if (@Model.Offer?.OfferId != 0 && @Model.Offer?.OfferId != null)
        {
            <ul>
                <li><b>Předmět:</b> @Model.Offer?.Subject - <b>@String.Format(CultureInfo.CreateSpecificCulture(Model.Offer?.Currency.CultureCode), "{0:C0}", @Model.Offer?.Price)</b> (@String.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C0}", Model.Offer?.PriceCzk))</li>
                <li><b>Zákazník:</b> @Model.OfferCompanyName (<b>Splatnost faktury:</b> @Model.InvoiceDueDays dní)</li>
                <li>
                    <b>Přijetí poptávky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.ReceiveDate) /
                    <b>Odeslání nabídky:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.SentDate) /
                    <b><label asp-for="Offer.EstimatedFinishDate"></label>:</b> @String.Format("{0:dd.MM.yyyy}", @Model.Offer.EstimatedFinishDate)
                </li>
            </ul>
        }

        <div class="cardTitleMerged">
            <div class="">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>

            @if (@Model.Offer?.OfferId != 0 && @Model.Offer?.OfferId != null)
            {
                <div class="">
                    <a asp-action="Edit" asp-controller="Offers" asp-route-id="@Model.Offer.OfferId" class="btn btn-primary"><i class="fa fa-list-alt"></i> Přejít na nabídku</a>
                </div>
            }
        </div>

        </form>

        <br />

        <!--------------------------------------------------------------------------------------
            FORM - ZAKAZKA
        --------------------------------------------------------------------------------------->
        <form class="card" role="form" autocomplete="on" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Order.OfferId" />
        <input type="hidden" asp-for="Order.OrderId" />

        <div class="cardTitleMerged">

            <h5 class="card-title">Upravit informace o zakázce</h5>

            <div class="form-group">
                <div class="pretty p-bigger p-default p-curve p-toggle">
                    <input asp-for="Order.Active" type="checkbox"/>
                    <div class="state p-success p-on">
                        <label>Aktivní</label>
                    </div>
                    <div class="state p-danger p-off">
                        <label>Neaktivní </label>
                    </div>
                </div>
                <span asp-validation-for="Order.Active" class="text-danger"></span>
            </div>

        </div>

        <hr />

        <div class="form-group row">
            <label asp-for="Order.OrderName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <span class="has-float-label">
                    <input asp-for="Order.OrderName" class="form-control" type="text" required="" placeholder=" "/>
                    <label asp-for="Order.OrderName">Číslo objednávky zákazníka</label>
                </span>
                <span asp-validation-for="Order.OrderName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="required col-lg-3 col-form-label form-control-label control-label">Cena dle jednacího protokolu</label>
            <div class="col-lg-3">
                <span class="has-float-label">
                    <input asp-for="Order.NegotiatedPrice" class="form-control" type="text" required placeholder=" "/>
                    <label asp-for="Order.NegotiatedPrice">Vyjednaná cena [@Model.CurrencyName]</label>
                </span>
                <span asp-validation-for="Order.NegotiatedPrice" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <span class="has-float-label">
                    <input asp-for="Order.PriceDiscount" class="form-control" type="text" placeholder=" "/>
                    <label asp-for="Order.PriceDiscount">Sleva z nabídky [@Model.CurrencyName]</label>
                </span>
                <span asp-validation-for="Order.PriceDiscount" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <p class="mt-1">Cena nab: <b>@String.Format(CultureInfo.CreateSpecificCulture(Model.Offer?.Currency.CultureCode), "{0:C0}", @Model.Offer?.Price)</b></p>
            </div>
        </div>

        <div class="form-group eveOrder">

            <div class="form-group row ">
                <label asp-for="Order.OrderCode" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-5">
                    <select asp-for="Order.OrderCode" asp-items="ViewBag.EveOrderCodes" class="form-control selectpicker"></select>
                    <span asp-validation-for="Order.OrderCode" class="text-danger"></span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @* <span>Spáleno/Plánováno: @(Model.Order.Burned / 60) / @Model.Order.TotalHours [hod]</span> *@
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                       data-toggle="tooltip" data-placement="top" title="Nová EVE zakázka">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="@Url.Action("CreateEveProject")" target="_blank" class="btn btn-outline-success form-control"
                    data-toggle="tooltip" data-placement="top" title="Nová EVE modulová zakázka">
                        <i class="fa fa-plus-square"></i> [M]
                    </a>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Order.EveContactName" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    @* @Html.DropDownListFor(model => model.Order.EveContactName, ViewBag.EveContactList as SelectList, "-- Vyber kontakt --", new { @class = "form-control selectpicker" }) *@
                    <select asp-for="Order.EveContactName" asp-items="ViewBag.EveContactList" class="form-control selectpicker"></select>
                    <span asp-validation-for="Order.EveContactName" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Faktury</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-invoices mt-1" data-toggle="tooltip" title="Přidat fakturaci"><i class="fa fa-plus"></i> Přidat fakturaci</a>
            </div>
        </div>

        @Html.ValidationMessage("InvoiceMissing", "", new { @class = "text-danger" })
        <div class="dynamic-rows-invoices" id="template-invoices" data-order="@Model.Order.Invoices.Count()">
            @for (int i = 0; i < Model.Order.Invoices.Count(); i++)
            {
                <div class="dynamicrowsgroup mb-4 pt-4" style="border-top: 1px solid #0000000d;">

                    <div class="row form-group justify-content-end">

                        <input hidden="true" asp-for="@Model.Order.Invoices[i].InvoiceId" />

                        <div class="col-lg-3 mycalendar">
                            <span class="has-float-label">
                                <input asp-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="form-control" type="text" autocomplete="off" data-id="@i" placeholder=" " />
                                <label asp-for="@Model.Order.Invoices[i].InvoiceIssueDate">Termín vystavení</label>
                            </span>
                            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="text-danger"></span>
                        </div>

                        <div class="col-lg-3 mycalendar">
                            <span class="has-float-label">
                                <input asp-for="@Model.Order.Invoices[i].InvoiceDueDate" class="form-control" type="text" autocomplete="off" data-id="@i" placeholder=" " />
                                <label asp-for="@Model.Order.Invoices[i].InvoiceDueDate">Splatnost faktury</label>
                            </span>
                            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceDueDate" class="text-danger"></span>
                        </div>

                        <div class="col-lg-3">
                            <span class="has-float-label">
                                <input asp-for="@Model.Order.Invoices[i].Cost" class="form-control" type="text" placeholder=" " />
                                <label asp-for="@Model.Order.Invoices[i].Cost">Částka [@Model.CurrencyName]</label>
                            </span>
                            <span asp-validation-for="@Model.Order.Invoices[i].Cost" class="text-danger"></span>
                        </div>

                        <div class="col-lg-1">
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteInvoice(@Model.Order.Invoices[i].InvoiceId)"><i class="fa fa-trash"></i></a>
                        </div>

                    </div>

                    <div class="row form-group justify-content-end">
                        <div class="col-lg-9">
                            <span class="has-float-label">
                                <input asp-for="@Model.Order.Invoices[i].DeliveryNote" class="form-control" type="text" placeholder="Cesta k dodacímu listu"/>
                                <label asp-for="@Model.Order.Invoices[i].DeliveryNote">Dodací list</label>
                            </span>
                            <span asp-validation-for="@Model.Order.Invoices[i].DeliveryNote" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

                </div>
            }
            <span asp-validation-for="Order.Invoices" class="text-danger"></span>
        </div>

        <div class="form-group row border-top pt-2">
            <div class="col-lg-2 col-form-label d-flex justify-content-left">
                <label class="form-control-label control-label">Další náklady</label>
            </div>
            <div class="col-lg-10">
                <a href="javascript:void(0)" class="btn btn-success col-lg-3 add-row-other-costs mt-1" data-toggle="tooltip" title="Přidat další náklady"><i class="fa fa-plus"></i> Další náklady</a>
            </div>
        </div>

        @Html.ValidationMessage("OtherCostsValidationMessage", "", new { @class = "text-danger" })
        <div class="dynamic-rows-other-costs" id="template-other-costs" data-order="@Model.Order.OtherCosts.Count()">
            @for (int i = 0; i < Model.Order.OtherCosts.Count(); i++)
            {
                <div class="row form-group justify-content-end">
                    <input hidden="true" asp-for="@Model.Order.OtherCosts[i].OtherCostId" />
                    <div class="col-lg-6">
                        <span class="has-float-label">
                            <input asp-for="@Model.Order.OtherCosts[i].Subject" class="form-control" type="text" autocomplete="off" placeholder=" "/>
                            <label asp-for="@Model.Order.OtherCosts[i].Subject">Stručný popis</label>
                        </span>
                        <span asp-validation-for="@Model.Order.OtherCosts[i].Subject" class="text-danger"></span>
                    </div>

                    <div class="col-lg-3">
                        <span class="has-float-label">
                            <input asp-for="@Model.Order.OtherCosts[i].Cost" class="form-control" type="text" placeholder=" "/>
                            <label asp-for="@Model.Order.OtherCosts[i].Cost">Částka [@Model.CurrencyName]</label>
                        </span>
                        <span asp-validation-for="@Model.Order.OtherCosts[i].Cost" class="text-danger"></span>
                    </div>

                    <div class="col-lg-1">
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteOtherCost(@Model.Order.OtherCosts[i].OtherCostId)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
            <span asp-validation-for="Order.OtherCosts" class="text-danger"></span>
        </div>

        <div class="form-group row border-top pt-2">
            <label asp-for="Order.PriceFinal" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="Order.PriceFinal" class="form-control" type="text" required="" readonly/>
                </div>
                <span asp-validation-for="Order.PriceFinal" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="UnspentMoney" class="col-form-label form-control-label control-label"></label>
            </div>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Model.CurrencyName</div>
                    </div>
                    <input asp-for="UnspentMoney" class="form-control" type="text" readonly />
                </div>
                <span asp-validation-for="UnspentMoney" class="text-danger"></span>
                <div class="progress" style="height: 5px;">
                    @{
                        int percentValue = Model.Order.NegotiatedPrice != 0 ? (int)Math.Ceiling(Model.UnspentMoney / (decimal)Model.Order.NegotiatedPrice * 100) : 0;
                        string progressBarWidth = percentValue >= 0 ? (100 - percentValue).ToString() : "100";
                        string progressbarClassColor = percentValue >= 0 ? "" : "bg-danger";
                    }
                    <div class="progress-bar @progressbarClassColor progress-bar-striped" role="progressbar" style="width: @progressBarWidth%;"></div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.HourWage" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <span class="has-float-label">
                    <input asp-for="Order.HourWage" class="form-control" type="text" onchange="this.value = this.value.replace(/,/g, '.')" placeholder=" " />
                    <label asp-for="Order.HourWage">Hod. sazba [@Model.CurrencyName]</label>
                </span>
                <span asp-validation-for="Order.HourWage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.PriceFinalCzk" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                <input asp-for="Order.PriceFinalCzk" class="form-control" type="text" readonly />
                <span asp-validation-for="Order.PriceFinalCzk" class="text-danger"></span>
            </div>
            <label asp-for="Order.ExchangeRate" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-3">
                 <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span>@Model.CurrencyName</span></div>
                    </div>
                    <input asp-for="Order.ExchangeRate" class="form-control" type="text" />
                    <div class="input-group-append">
                        <div class="input-group-text" data-toggle="tooltip" title="Vložit dnešní kurz z ČNB" onclick="changeExchangeRate('@Model.CurrencyName');" style="cursor: pointer;">
                            <i class="fa fa-caret-left">&nbsp;<i class="fa fa-cloud-download"></i></i>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Order.ExchangeRate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Order.Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Order.Notes" class="form-control"></textarea>
                <span asp-validation-for="Order.Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <label asp-for="Order.CreatedDate" ></label>
                    <b>@Model.Order.CreatedDate</b>
                    <label asp-for="Order.ModifiedDate"></label>
                    <b>@Model.Order.ModifiedDate</b>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" name="actionType" value="Uložit" />
                <input type="submit" class="btn btn-primary" name="actionType" value="Uložit a zavřít" />
                <a href="#" class="btn btn-danger pull-right" onclick="ConfirmDelete(@Model.OfferId)">Smazat</a>
            </div>
        </div>

        <input asp-for="Order.CreatedDate" type="text" readonly hidden />
        <input asp-for="Order.CreatedBy" type="text" readonly hidden />
        <input asp-for="Order.ModifiedBy" type="text" readonly hidden />

        </form>
    </div>
</div>


<div class="d-flex justify-content-center pt-3">
    <a href="#collapsible-audits" class="btn-sm btn-primary collapsed" data-toggle="collapse">
        <i class="if-collapsed fa fa-fw fa-chevron-down"></i>
        <i class="if-not-collapsed fa fa-fw fa-chevron-up"></i>
        Poslední změny <span class="badge badge-pill badge-light">@Model.Audits.Count()</span>
    </a>
</div>

<div class="collapse" id="collapsible-audits">
    @await Html.PartialAsync("_PartialAuditChanges", Model)
</div>


<!-----------------------------------------------  M O D A L S  ----------------------------------------------->

<!-- Modal Confirm Delete-->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Smazání nabídky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?<br />
                Ev. Číslo: <b>@Model.Order.OrderName</b>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-warning" onclick="DeactivateItem()">Deaktivovat</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomValidation.js"></script>

    <script>

        function AddInvoiceDueDays(inputId) {
            var _invoiceIssueInput = $('#Order_Invoices_' + inputId + '__InvoiceIssueDate');
            var date = new Date(_invoiceIssueInput.val());
            var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
            var _invoiceDueInput = $('#Order_Invoices_' + inputId + '__InvoiceDueDate').val(futureDate);
        }

        function DeleteInvoice(invoiceId) {
            var rowDeliveryNote = document.getElementById(`dynamic-row-delivery-note-${invoiceId}`);
            if (rowDeliveryNote != null) {
                rowDeliveryNote.remove();
            }
            var row = document.getElementById(`dynamic-row-invoice-${invoiceId}`);
            if (row != null) {
                row.remove();
            }
            else {
                $.ajax({
                    //async: true,
                    type: 'POST',
                    dataType: 'JSON',
                    ContentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("DeleteInvoice")',
                    data: { id: invoiceId },
                    cache: false,
                    beforeSend:function(){
                        return confirm(
                            "Jste si jisti??? Tento úkon smaže již uloženou fakturaci!"
                        );
                    },
                    success: function(data) {
                        window.location = "@Model.Order.OrderId";  // return Orders/Edit/{OrderId}
                    },
                    error: function(data) {
                        //alert(JSON.stringify(data.responseJSON.errorMessage));
                        alert(data.responseJSON.errorMessage);
                    }
                });
            }
        }

        function DeleteOtherCost(otherCostId) {
            console.log(`Deleting invoice id: ${otherCostId}`);
            var row = document.getElementById(`dynamic-row-other-costs-${otherCostId}`);
            if (row != null) {
                row.remove();
            }
            else {
                $.ajax({
                    //async: true,
                    type: 'POST',
                    dataType: 'JSON',
                    ContentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("DeleteOtherCost")',
                    data: { id: otherCostId },
                    cache: false,
                    beforeSend:function(){
                        return confirm(
                            "Jste si jisti??? Tento úkon smaže označený další náklad!"
                        );
                    },
                    success: function(data) {
                        window.location = "@Model.Order.OrderId";  // return Orders/Edit/{OrderId}
                    },
                    error: function(data) {
                        //alert(JSON.stringify(data.responseJSON.errorMessage));
                        alert(data.responseJSON.errorMessage);
                    }
                });
            }
        }

//        function changeExchangeRate(curSymbol) {
//            $.ajax({
//                url: '@Url.Action("getCurrencyStr", "Orders")',
//                type: 'GET',
//                //dataType: 'json',
//                // we set cache: false because GET requests are often cached by browsers
//                // IE is particularly aggressive in that respect
//                cache: false,
//                data: { symbol: curSymbol },
//                success: function(res) {
//                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
//                    $('#Order_ExchangeRate').val(res).keyup();
//                }
//            });
//        }

        // MODAL dialog for delete confirmation
        //-------------------------------------
        var ConfirmDelete = function (ItemId) {
            $("#deleteConfirmModal").modal('show');
        };

        // POST delete command to controller
        //----------------------------------
        function DeleteItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { Id: @Model.Order.OrderId },
                beforeSend: function (request) {
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = '../'
                },
                error: function() {
                    alert("Nelze z nějakého důvodu odstranit...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

        // POST deactivate command to controller
        //----------------------------------
        function DeactivateItem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Deactivate")',
                data: { Id: @Model.Order.OrderId },
                success: function () {
                    $("#deleteConfirmModal").modal("hide")
                    window.location.href = './' + @Model.Order.OrderId
                },
                error: function() {
                    alert("Nelze z nějakého důvodu deaktivovat...");
                    $("#deleteConfirmModal").modal("hide");
                }
            })
        }

        function changeExchangeRate(curSymbol) {
            $.ajax({
                url: '@Url.Action("getCurrencyStr", "Orders")',
                type: 'GET',
                //dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { symbol: curSymbol },
                success: function(res) {
                    //$('#Order_ExchangeRate').val(res).focus().keyup().blur();
                    $('#Order_ExchangeRate').val(res).keyup();
                }
            });
        }

        $(document).ready(function(){

            $('.mycalendar input').datepicker(datepickerParameters[0]);

            var offerPrice = parseInt('@Model.Offer.Price');

            $('#Order_NegotiatedPrice').on('keydown input change textInput', function(){
                var negotiatedPrice = parseInt($('#Order_NegotiatedPrice').val());
                //var offerPrice = parseInt('@Model.Offer.Price');
                $('#Order_PriceDiscount').val(offerPrice - negotiatedPrice);
            });

            $('#Order_PriceDiscount').on('keydown input change textInput', function(){
                var priceDiscount = parseInt($('#Order_PriceDiscount').val());
                //var offerPrice = parseInt('@Model.Offer.Price');
                $('#Order_NegotiatedPrice').val(offerPrice - priceDiscount);
            });

            $('#Order_InvoiceIssueDate').change('input', function(){
                var date = new Date($('#Order_InvoiceIssueDate').val());
                var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                $('#Order_InvoiceDueDate').val(futureDate);
            });

            // Active on(changeDate) events for existing InvoiceIssueDate datepicker inputs
            let childrenIssueDate = document.querySelectorAll('[id$="InvoiceIssueDate"]');
            childrenIssueDate.forEach( function(item) {
                let dateInput = $(`#${item.id}`);
                dateInput.on("changeDate", function(lol) {
                    console.log(lol);
                    var date = new Date(dateInput.val());
                    var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                    var childIssueId = lol.target.id.split("__")[0];  // Order_Invoices_X
                    childDue = $(`#${childIssueId}__InvoiceDueDate`).val(futureDate);
                });
            });

            // Add new INVOICES row
            var idInvoice = @Model.Order.Invoices.Count();
            $('.add-row-invoices').click(function () {
                var html =''+
                    @* '<div class="dynamic-rows-invoices" id="template-invoices" data-order="' + idInvoice + '">'+ *@
                        '<div class="row form-group justify-content-end" id="dynamic-row-invoice-' + idInvoice + '">'+

                            '<input type="number" hidden="true" data-val="true" data-val-required="The InvoiceId field is required." id="Order_Invoices_' + idInvoice + '__InvoiceId" name="Order.Invoices[' + idInvoice + '].InvoiceId" value="0">'+

                            '<div class="col-lg-3 mycalendar">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" autocomplete="off" placeholder="rrrr-mm-dd" data-id="' + idInvoice + '" data-val="true" data-val-required="The Předp. termín vystavení faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceIssueDate" name="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" value="">'+
                                    '<label for="Order_Invoices_' + idInvoice + '__InvoiceIssueDate">Termín vystavení</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceIssueDate" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" autocomplete="off" placeholder="rrrr-mm-dd" data-val="true" data-id="' + idInvoice + '" data-val-required="The Splatnost faktury field is required." id="Order_Invoices_' + idInvoice + '__InvoiceDueDate" name="Order.Invoices[' + idInvoice + '].InvoiceDueDate" value="">'+
                                    '<label for="Order_Invoices_' + idInvoice + '__InvoiceDueDate">Splatnost faktury</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].InvoiceDueDate" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-3">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_Invoices_' + idInvoice + '__Cost" name="Order.Invoices[' + idInvoice + '].Cost" value="" placeholder=" " />'+
                                    '<label for="Order_Invoices_' + idInvoice + '__Cost">Částka [@Model.CurrencyName]</label>'+
                                '</span>'+
                                '<span class="text-danger field-validation-valid" data-valmsg-for="Order.Invoices[' + idInvoice + '].Cost" data-valmsg-replace="true"></span>'+
                            '</div>'+

                            '<div class="col-lg-1">'+
                                '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteInvoice(' + idInvoice + ')"><i class="fa fa-trash white"></i></a>'+
                            '</div>'+

                        '</div>'+

                        '<div class="row form-group justify-content-end " id="dynamic-row-delivery-note-' + idInvoice + '">'+
                            '<div class="col-lg-9">'+
                                '<span class="has-float-label">'+
                                    '<input class="form-control" type="text" placeholder="Cesta k dodacímu listu" id="Order_Invoices_' + idInvoice + '__DeliveryNote" name="Order.Invoices[' + idInvoice + '].DeliveryNote value="" />'+
                                    '<label for="Order_Invoices_' + idInvoice + '__DeliveryNote">Dodací list</label>'+
                                '</span>'+
                                '<span data-valmsg-for="Order.Invoices[' + idInvoice + '].DeliveryNote" data-valmsg-replace="true" class="text-danger"></span>'+
                            '</div>'+
                            '<div class="col-lg-1"></div>'+
                        '</div>'
                    @* '</div>' *@
                    ;
                var _formTemp = $("#template-invoices").clone(true)
                var _targetForm = $(".dynamic-rows-invoices")
                _targetForm.append(html)

                var _invoiceIssueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceIssueDate');
                var _invoiceDueInput = $('#Order_Invoices_' + idInvoice + '__InvoiceDueDate');

                var parsed_date = @Html.Raw(Json.Serialize(Model.Offer.EstimatedFinishDate))
                if ( parsed_date != null) {
                    _invoiceIssueInput.val(new Date(parsed_date).toISOString().substring(0, 10));
                    var date = new Date(_invoiceIssueInput.val());
                    var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                    _invoiceDueInput.val(futureDate);
                }

                _invoiceIssueInput.datepicker(datepickerParameters[0]);
                _invoiceDueInput.datepicker(datepickerParameters[0]);
                $('.newlyAddedTooltip').tooltip();

                _invoiceIssueInput.on("changeDate", function() {
                    var date = new Date(_invoiceIssueInput.val());
                    var futureDate = getPrettyDate(date, @Model.InvoiceDueDays);
                    $('#Order_Invoices_' + _invoiceIssueInput.data('id') + '__InvoiceDueDate').val(futureDate);
                });

                floatingLabelsInit();

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idInvoice = idInvoice + 1;
                return false;
            });


            // Add new OTHER COSTS row
            var idOtherCosts = @Model.Order.OtherCosts.Count();
            $('.add-row-other-costs').click(function () {
                var html =
                    '<div class="row form-group justify-content-end" id="dynamic-row-other-costs-' + idOtherCosts + '">'+
                        '<input type="number" hidden="true" data-val="true" data-val-required="The OtherCostId field is required." id="Order_OtherCosts_' + idOtherCosts + '__OtherCostId" name="Order.OtherCosts[' + idOtherCosts + '].OtherCostId" value="0">'+

                        '<div class="col-lg-6">'+
                            '<input class="form-control" type="text" autocomplete="off" placeholder="Popis" data-val="true" data-val-required="Je třeba přidat popis dalšího nákladu" id="Order_OtherCosts_' + idOtherCosts + '__Subject" name="Order.OtherCosts[' + idOtherCosts + '].Subject" value="">'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Subject" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-3">'+
                            '<span class="has-float-label">'+
                                '<input class="form-control" type="text" placeholder="Částka" data-val="true" data-val-number="The field Částka must be a number." data-val-required="The Částka field is required." id="Order_OtherCosts_' + idOtherCosts + '__Cost" name="Order.OtherCosts[' + idOtherCosts + '].Cost" value="" />'+
                                '<label for="Částka [@Model.CurrencyName]">Částka [@Model.CurrencyName]</label>'+
                            '</span>'+
                            '<span class="text-danger field-validation-valid" data-valmsg-for="Order.OtherCosts[' + idOtherCosts + '].Cost" data-valmsg-replace="true"></span>'+
                        '</div>'+

                        '<div class="col-lg-1">'+
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="" data-original-title="Odstranit záznam" onclick="DeleteOtherCost(' + idOtherCosts + ')"><i class="fa fa-trash white"></i></a>'+
                        '</div>'+
                    '</div>';

                //$("tbody").append($(html).clone(true))
                var _formTemp = $("#template-other-costs").clone(true)
                var _targetForm = $(".dynamic-rows-other-costs")
                _targetForm.append(html)

                $('form').data('validator', null);
                $.validator.unobtrusive.parse($('form'));

                idOtherCosts = idOtherCosts + 1;
                return false;
            });
        })



    </script>

}

