@{
    ViewData["Title"] = "Zakázky";
}

@model IList<memo.Models.Order>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nová Zakázka</a>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            @* <th scope="col">Id</th> *@
            <th scope="col">OrderId</th>
            <th scope="col">OfferId</th>
            <th scope="col">Objednávka</th>
            <th scope="col">Název</th>
            @* <th scope="col">Kontakt</th>
            <th scope="col">Předmět</th>
            <th scope="col">Cena</th>
            <th scope="col">Měna</th>
            <th scope="col">Status</th> *@
            <th scope="col">Číslo Zakázky</th>
            <th scope="col">Hod. Mzda</th>
            <th scope="col">Spáleno</th>
            <th scope="col">Limit Hodin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Edit" asp-route-id=@item.OfferId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id=@item.OfferId><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                @* <th scope="row">@item.OfferId</th> *@
                <th scope="row">@item.OrderId</th>
                @* <th scope="row">@item.ReceiveDate.Value.ToString("dd.MM.yyyy")</th> *@
                @* <th scope="row">@item.Company.Name</th> *@
                @* <th scope="row">@item.Contact.PersonName</th> *@
                <th scope="row">@item.OfferId</th>
                <th scope="row">@item.Offer.OfferName</th>
                <th scope="row">@item.OrderName</th>
                @* <th scope="row">@item.Currency.Name</th>
                <th scope="row">@item.OfferStatus.Status</th> *@
                <th scope="row">@item.OrderCode</th>
                <th scope="row">@item.HourWage</th>
                <th scope="row">@(ViewBag.Suma / 60) hod</th>
                <th scope="row">@item.TotalHours</th>
            </tr>
        }
    </tbody>
</table>