@{
    ViewData["Title"] = "Zakázky";
}

@model IList<memo.Models.Order>
@* @model IList<memo.ViewModels.OfferOrderVM> *@
@* @model memo.ViewModels.OfferOrderVM *@

<style>
    .notesWrap {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nová zakázka</a>
    <a id="btnToggleActive" class="btn btn-outline-primary pull-right" onclick="ToggleActive()">
        <i class="fa fa-eye-slash"></i> Aktivní (@Model.Count(m => m.Active) / @Model.Count())
    </a>
    <button style="margin-right: 5px;" class="btn btn-outline-info" name="BtnMujFilter" id="BtnMujFilter" type="button">
        <i class="fa fa-filter"> Filter</i>
    </button>
</div>

<table
    id="table"
    data-filter-control="false"
    data-show-search-clear-button="true"
    data-show-toggle="true"
    data-cookie="true"
    data-cookie-id-table="saveId"
    data-show-columns-toggle-all="true"
    data-show-columns="true"
    data-show-export="true"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-search="true"
    class="table table-sm text-nowrap text-xsmall"
    style="width:100%"
    data-silent-sort="true"
    data-show-footer="true"
    data-footer-style="footerStyle"
    @* data-reorderable-columns="true" *@
    @* data-show-pagination-switch="true" *@
    @* data-pagination="true" *@
    @* data-height="800" *@
    @* data-page-size="50" *@
    @* data-page-list="[10, 25, 50, 100, 200, All]" *@
    >
    <thead>
        <tr>
            <th scope="col" data-field="0" data-footer-formatter="idFormatter" data-sortable="true" data-filter-control="input"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
            <th scope="col" data-field="1" data-sortable="true" data-filter-control="input">Objednávka</th>
            <th scope="col" data-field="2" data-sortable="true" data-filter-control="input">Č. obj. zákazníka</th>
            <th scope="col" data-field="3" data-sortable="true" data-filter-control="select">Měna</th>
            <th scope="col" data-field="4" data-sortable="true" data-filter-control="input">Konečná cena</th>
            <th scope="col" data-field="5" data-sortable="true" data-filter-control="input">Poskytnutá sleva</th>
            <th scope="col" data-field="6" data-sortable="true" data-filter-control="input">Kód vykazování EVE</th>
            <th scope="col" data-field="7" data-sortable="true" data-filter-control="input">Vedoucí projektu</th>
            <th scope="col" data-field="8" data-sortable="true" data-filter-control="input">Plánované [hod]</th>
            <th scope="col" data-field="9" data-sortable="true" data-filter-control="input">Termín vystavení faktury</th>
            <th scope="col" data-field="10" data-sortable="true" data-filter-control="input">Kurs</th>
            <th scope="col" data-field="11" data-footer-formatter="priceFormatter" data-sortable="true" data-filter-control="input">Konečná cena [CZK]</th>
            <th scope="col" data-field="12" data-sortable="true" data-filter-control="input">Poznámky</th>
            <th scope="col" data-field="13" data-footer-formatter="priceFormatter" data-sortable="true" data-filter-control="input">Další náklady</th>
            <th scope="col" data-field="14" data-sortable="true" data-filter-control="input">Hod. sazba</th>
            <th scope="col" data-field="15" data-sortable="true" data-filter-control="input">Spáleno [hod]</th>
            <th scope="col" data-field="16" data-footer-formatter="priceFormatter" data-sortable="true" data-filter-control="input">Hod. sazba x spáleno</th>
            <th scope="col" data-field="17" data-sortable="true" data-filter-control="input">Stav plnění</th>
            <th scope="col" data-field="18" data-sortable="true" data-filter-control="select">Aktivní</th>
            <th scope="col" data-field="19" data-sortable="true" data-filter-control="input">Datum vytvoření</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.OrderId" class="@(item.Active ? Html.Raw("show") : Html.Raw("hide"))">
                <th scope="row" data-field="0" >
                    <a asp-action="Edit" asp-route-id=@item.OrderId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a href="#" onclick="ConfirmDelete(@item.OrderId)"><i class="fa fa-times fa-fw" style="color: red;", aria-hidden="true"></i></a>
                </th>
                <th scope="row">@item.Offer?.OfferName</th>
                <th scope="row">@item.OrderName</th>
                <th scope="row">@item.Offer?.Currency.Name</th>
                <th scope="row" class="text-right">@String.Format("{0:#,0}", @item.PriceFinal)</th>
                <th scope="row" class="text-right">@String.Format("{0:#,0}", @item.PriceDiscount)</th>
                <th scope="row">@item.OrderCode</th>
                <th scope="row">@item.Contact?.PersonName</th>
                <th scope="row" class="text-right">@item.TotalHours</th>
                <th scope="row">@String.Format("{0:dd.MM.yyyy}", @item.InvoiceIssueDate)</th>
                <th scope="row" class="text-right">@item.ExchangeRate</th>
                <th scope="row" class="text-right">@String.Format("{0:#0}", @item.PriceFinalCzk)</th>
                <th scope="row" class="notesWrap">@item.Notes</th>
                <th scope="row" class="text-right">@item.OtherCosts</th>
                <th scope="row" class="text-right">@String.Format("{0:#,0}", @item.HourWage)</th>
                <th scope="row" class="text-right">@( item.Burned / 60 )</th>
                <th scope="row" class="text-right">@( String.Format("{0:0}", item.Burned * @item.HourWage / 60 ))</th>
                <th scope="row" class="text-right">@( String.Format("{0:0.00}", (float)item.Burned / 60 / item.TotalHours * 100) ) %</th>
                <th scope="row">@item.Active</th>
                <th scope="row">@String.Format("{0:dd.MM.yyyy}", @item.CreateDate)</th>
            </tr>
        }
    </tbody>
</table>


<!-- Modal Confirm Delete-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání zakázky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalItemId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current Id*@
<input type="hidden" id="hiddenId" />


@section scripts{
<script>
    // POST delete command to controller
    //----------------------------------
    function DeleteItem() {
        var itemId = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Orders")',
            data: { Id: itemId },
            success: function () {
                $("#myModal").modal("hide")
                //$("#row_" + itemId).remove();
                window.location = "Orders/Index"
            },
            error: function() {
                alert("Tento zakázku nelze z nějakého důvodu odstranit...");
                $("#myModal").modal("hide");
            }
        })
    }


    // MODAL dialog for delete confirmation
    //-------------------------------------
    var ConfirmDelete = function (ItemId) {
        $("#hiddenId").val(ItemId);
        $("#myModal").modal('show');
        $("#modalItemId").val( 'Hmm' + ItemId );
    };

    // Function to toggle Active/Disabled Contacts/Companies in table
    //---------------------------------------------------------------
    function ToggleActive() {
        var btn = document.getElementById("btnToggleActive");

        if (btn.children[0].className == "fa fa-eye-slash") {
            btn.children[0].className = "fa fa-eye"
            btn.lastChild.nodeValue = " Všichni (@Model.Count())"
            var hiddenRows = document.getElementsByClassName("hide");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "show hiddenBefore";
            };
        }
        else {
            btn.children[0].className = "fa fa-eye-slash"
            btn.lastChild.nodeValue = " Aktivní (@Model.Count(m => m.Active) / @Model.Count())"
            var hiddenRows = document.getElementsByClassName("show hiddenBefore");
            for(var i=0; i<hiddenRows.length; i++){
                hiddenRows[i].className = "hide";
            }
        }
    }

    function idFormatter() {
    return 'Total'
  }

  function nameFormatter(data) {
    return data.length
  }

  function priceFormatter(data) {
    var field = parseInt(this.field.replace(",", ""));
    console.log(field);
    //var field = parseInt(this.field).val().replace(/[^0-9]/g, '')
    return data.map(function (row) {
      return +row[field]
    }).reduce(function (sum, i) {
      return sum + i
    }, 0)
  }

</script>
}