@{
    ViewData["Title"] = "Zakázky";
}

@model IList<memo.Models.Order>
@* @model IList<memo.ViewModels.OfferOrderVM> *@
@* @model memo.ViewModels.OfferOrderVM *@

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

// TODO: Pridat aktivaci/deaktivaci zakazky
<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nová zakázka</a>
</div>


<table class="table table-sm table-hover" >
    <thead>
        <tr>
            <th scope="col"></th>
            @* <th scope="col">Id</th> *@
            @* <th scope="col">OrderId</th> *@
            @* <th scope="col">OfferId</th> *@
            <th scope="col">Objednávka</th>
            <th scope="col">Název</th>
            @* <th scope="col">Kontakt</th>
            <th scope="col">Předmět</th>
            <th scope="col">Cena</th>
            <th scope="col">Status</th> *@
            <th scope="col">Číslo zakázky</th>
            <th scope="col">Hod. mzda</th>
            @* <th scope="col">Měna</th> *@
            <th scope="col">Spáleno [hod]</th>
            <th scope="col">Plánované [hod]</th>
            <th scope="col">Stav plnění</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Edit" asp-route-id=@item.OrderId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a href="#" onclick="ConfirmDelete(@item.OrderId)"><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                @* <th scope="row">@item.OrderId</th> *@
                @* <th scope="row">@item.OfferId</th> *@
                @* <th scope="row">@item.ReceiveDate.Value.ToString("dd.MM.yyyy")</th> *@
                @* <th scope="row">@item.Company.Name</th> *@
                @* <th scope="row">@item.Contact.PersonName</th> *@
                @* <th scope="row">@item.OfferId</th> *@
                <th scope="row">@item.Offer.OfferName</th>
                <th scope="row">@item.OrderName</th>
                @* <th scope="row">@item.OfferStatus.Status</th> *@
                <th scope="row">@item.OrderCode</th>
                <th scope="row">@item.HourWage</th>
                @* <th scope="row">@item.Currency.Name</th> *@
                @* <th scope="row">@item.HourWage @item.Offer.Currency.Name</th> *@
                @* <th scope="row">@item.Minutes minutes</th> *@
                <th scope="row">@( item.Burned / 60 )</th>
                <th scope="row">@item.TotalHours</th>
                <th scope="row">@( String.Format("{0:0.00}", (float)item.Burned / 60 / item.TotalHours * 100) ) %</th>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Confirm Delete-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání zakázky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalItemId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current Id*@
<input type="hidden" id="hiddenId" />


@section scripts{
<script>
    // POST delete command to controller
    //----------------------------------
    function DeleteItem() {
        var itemId = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Orders")',
            data: { Id: itemId },
            success: function () {
                $("#myModal").modal("hide")
                //$("#row_" + itemId).remove();
                window.location = "Orders/Index"
            },
            error: function() {
                alert("Tento zakázku nelze z nějakého důvodu odstranit...");
                $("#myModal").modal("hide");
            }
        })
    }


    // MODAL dialog for delete confirmation
    //-------------------------------------
    var ConfirmDelete = function (ItemId) {
        $("#hiddenId").val(ItemId);
        $("#myModal").modal('show');
        $("#modalItemId").val( 'Hmm' + ItemId );
    };

</script>
}