@using System.Globalization;

@{
    ViewData["Title"] = "Zakázky";
}

@* @model IList<memo.Models.Order> *@
@model memo.ViewModels.OrdersViewModel


<style>
    .notesWrap {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .centerHeader {
        text-align: center;
    }

    .bootstrap-table .fixed-table-container .table thead th .sortable {
        padding-right: 20px!important;
    }

    .itemInactive {
        color: #9ba8b1;
    }

    .table-responsive {
        @* position: absolute; *@
        left: 2rem;
        width: calc(100% - 4rem);
        overflow-x: inherit;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: calc(100% - 4rem);
    }
</style>

@await Html.PartialAsync("_Partial_ToastNotification")

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="fa fa-plus-square-o"></i> Nová zakázka
    </a>
    @* <button style="margin-right: 5px;" class="btn btn-outline-info" name="BtnMujFilter" id="BtnMujFilter" type="button">
        <i class="fa fa-filter"></i> Filter
    </button> *@
    @if (ViewBag.ShowInactive == true)
    {
        <a asp-action="index" class="btn btn-outline-secondary" data-toggle="tooltip" title="Zobrazit pouze aktivní"><i class="fa fa-eye"></i> Vše (@Model.Orders.Count())</a>
    }
    else
    {
        <a asp-action="index" class="btn btn-outline-secondary" asp-route-ShowInactive="true" data-toggle="tooltip" title="Zobrazit vše"><i class="fa fa-eye-slash"></i> Aktivní (@Model.Orders.Count()/@ViewBag.AllOrdersCount)</a>
    }
</div>

<table
    id="table"
    class="table table-sm text-xsmall text-nowrap"
    style="width:100%"
    data-cookie="true"
    data-cookie-id-table="ordersTableCookie"
    data-export-data-type="basic"  @* 'basic', 'all', 'selected' *@
    data-export-footer=false  @* false, true *@
    data-export-types="['txt', 'csv', 'excel']"  @* ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'png', 'doc', 'xlsx', 'pdf'] *@
    data-filter-control="true"
    data-footer-style="footerStyle"
    @* data-height="800" *@
    data-maintain-meta-data="true"
    data-page-size="15"
    data-page-list="[15, 25, 50, 100, 200, All]"
    data-pagination="true"
    data-show-search-clear-button="true"
    data-show-toggle="true"
    data-show-columns-toggle-all="true"
    data-show-columns="true"
    data-show-export="true"
    data-show-footer="true"
    data-show-fullscreen="true"
    data-sort-name="2"
    data-sort-order="desc"
    data-search="true"
    data-silent-sort="true"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-virtual-scroll="true"
    data-visible-search="true"
    @* data-reorderable-columns="true" *@
    @* data-show-pagination-switch="true" *@
    @* data-page-list="[10, 25, 50, 100, 200, All]" *@
    cellspacing="0"
    style="font-size: 0.9em;"
    >
    <thead>
        <tr>
            <th scope="col" class="text-center" data-field="0" data-sortable="true" data-filter-control="false" data-footer-formatter="idFormatter"></i>Edit</th>
            <th scope="col" class="text-center" data-field="1" data-sortable="true" data-filter-control="false"><span data-toggle="tooltip" title="Aktivní / Neaktivní"><i class="fa fa-eye text-secondary"></i></span></th>
            <th scope="col" class="text-center" data-field="2" data-sortable="true" data-filter-control="input">Vytvořeno</th>
            <th scope="col" class="text-center" data-field="3" data-sortable="true" data-filter-control="input"><span data-toggle="tooltip" title="Z čeho zakázka vychází... N: Nabídka, R: Rámcová smlouva, -: Bez nabídky">Typ</span></th>
            <th scope="col" class="text-center" data-field="4" data-sortable="true" data-filter-control="input">Nabídka</th>
            <th scope="col" class="text-center" data-field="5" data-sortable="true" data-filter-control="input">Rámcovka</th>
            <th scope="col" class="text-center" data-field="6" data-sortable="true" data-filter-control="input">Č. obj. zákazníka</th>
            <th scope="col" class="text-center" data-field="7" data-sortable="true" data-filter-control="input">Zákazník</th>
            <th scope="col" class="text-center" data-field="8" data-sortable="true" data-filter-control="input">Key acc.<br />manager</th>
            <th scope="col" class="text-center" data-field="9" data-sortable="true" data-filter-control="input">Vedoucí <br />projektu</th>
            <th scope="col" class="text-center" data-field="10" data-sortable="true" data-filter-control="input">Oddělení</th>
            <th scope="col" class="text-center" data-field="11" data-sortable="true" data-filter-control="input" data-footer-formatter="priceFormatter" data-sorter="priceSorter"><div data-toggle="tooltip" title="Vyjednaná cena zakázky (po případné slevě)">Vyjednaná <br />cena</div></th>
            <th scope="col" class="text-center" data-field="12" data-sortable="true" data-filter-control="input"><div data-toggle="tooltip" title="Součet fakturací">Vyfakturováno</div></th>
            <th scope="col" class="text-center" data-field="13" data-sortable="true" data-filter-control="input" data-footer-formatter="priceFormatter" data-sorter="priceSorter"><div data-toggle="tooltip" title="Vyjednaná cena - součet fakturací">Zbývá</div></th>
            <th scope="col" class="text-center" data-field="14" data-sortable="true" data-filter-control="input" data-footer-formatter="sumHoursFormatter">Vyčerpáno</th>
            <th scope="col" class="text-center" data-field="15" data-sortable="true" data-filter-control="input" data-footer-formatter="sumHoursFormatter">Plánované <br />hod</th>
            <th scope="col" class="text-center" data-field="16" data-sortable="true" data-filter-control="input">Využito</th>
            <th scope="col" class="text-center" data-field="17" data-sortable="true" data-filter-control="input" data-footer-formatter="priceFormatter" data-sorter="priceSorter"><div data-toggle="tooltip" title="Suma (vyčerpané hod * jejich hodinová mzda)">Skutečné <br />náklady</div></th>
            <th scope="col" class="text-center" data-field="18" data-sortable="true" data-filter-control="input" data-footer-formatter="priceFormatter" data-sorter="priceSorter"><div data-toggle="tooltip" title="Skutečné náklady + další náklady">Celkové skut. <br />náklady</div></th>
            <th scope="col" class="text-center" data-field="19" data-sortable="true" data-filter-control="input" data-footer-formatter="priceFormatter" data-sorter="priceSorter"><div data-toggle="tooltip" title="Vyjednaná cena - Celkové skut. náklady">Odčerpáno <br />nákladů</div></th>
            <th scope="col" class="text-center" data-field="20" data-sortable="true" data-filter-control="input">Poznámky</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order item in Model.Orders)
        {
            <tr id="row_@item.OrderId" class="@(item.Active ? Html.Raw("itemActive") : Html.Raw("itemInactive"))">
                @* Edit *@
                <td scope="row" data-field="0">
                    <a asp-action="Edit" asp-route-id=@item.OrderId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a href="#" onclick="ConfirmDelete(@item.OrderId)"><i class="fa fa-times fa-fw" style="color: red;", aria-hidden="true"></i></a>
                </td>
                @* Status *@
                @if (item.Active is true)
                {
                    <td scope="row" class="text-center" data-toggle="tooltip" title="Aktivní">
                        <a asp-action="Deactivate" asp-route-id="@item.OrderId" asp-route-showInactive="@ViewBag.showInactive"><i class="fa fa-eye text-success" aria-hidden="true"></i></a>
                    </td>
                }
                else if (item.Active is false)
                {
                    <td scope="row" class="text-center" data-toggle="tooltip" title="Neaktivní">
                        <a asp-action="Activate" asp-route-id="@item.OrderId" asp-route-showInactive="@ViewBag.showInactive"><i class="fa fa-eye-slash" style="color: #8a97a2;" aria-hidden="true"></i></a>
                    </td>
                }
                @* Vytvořeno *@
                <td scope="row" class="text-left">
                    <span style="display:none">@String.Format("{0:yyyy-MM-dd HH:mm}", @item.CreatedDate)</span>  <!-- Hidden span for sorting date correctly-->
                    @String.Format("{0:dd.MM.yyyy}", @item.CreatedDate)
                </td>
                @* Typ *@
                <td scope="row" class="text-left">
                    @item.FromType
                </td>
                @* Nabídka *@
                <td scope="row" class="text-left" data-toggle="tooltip" title="@item.Offer?.OfferName">
                    <a asp-action="Edit" asp-controller="Offers" asp-route-id="@item.OfferId">@item.Offer?.OfferName.Replace("EV-quo/", "")</a>
                </td>
                @* Rámcovka *@
                <td scope="row" class="text-left" data-toggle="tooltip" title="@item.Offer?.OfferName">
                    <a asp-action="Edit" asp-controller="Contracts" asp-route-id="@item.ContractId">@item.Contract?.ContractName</a>
                </td>
                @* Č. obj. zákazníka *@
                <td scope="row" class="text-left">@item.OrderName</td>
                @* Zákazník *@
                <td scope="row" class="text-left">@item.SharedInfo.Company.Name</td>
                @* Kód EVE vykazování *@
                @* <td scope="row" class="text-center" data-toggle="tooltip" data-html="true" title="@OrderCodeTooltip">@item.OrderCode</td> *@
                @* Key acc. manager *@
                <td scope="row" class="text-left">@item.KeyAccountManager</td>
                @* Vedoucí projektu *@
                <td scope="row" class="text-left">@item.EveContactName</td>
                @* Oddělení *@
                <td scope="row" class="text-left">@item.SharedInfo.EveDepartment</td>
                @* Vyjednaná cena *@
                <td scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.NegotiatedPrice)</td>
                @* Vyfakturováno *@
                <td scope="row" class="text-right">
                    <div class="progress" style="height: 5px;">
                    @{
                        int percentValue = item.GetSumInvoicesPercentage();
                        string progressBarWidth = percentValue <= 100 ? (percentValue).ToString() : "100";
                        string progressbarClassColor = percentValue <= 100 ? "" : "bg-danger";
                    }
                        <span style="display:none">@percentValue</span>  <!-- Hidden span for sorting percentages correctly-->
                        <div class="progress-bar @progressbarClassColor progress-bar-striped" role="progressbar" style="width: @progressBarWidth%;"></div>
                    </div>
                    <span style="font-size: 0.9rem;">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.GetSumInvoices())</span>
                </td>
                @* Zbývá *@
                <td scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.NegotiatedPrice - @item.GetSumInvoices())</td>
                @* Vyčerpáno *@
                @{
                    string orderCodesHoursSumText = @item.OrderCodesHoursSum != 0 ? String.Format("{0:# ### ###} hod", item.OrderCodesHoursSum) : "";
                }
                <td scope="row" class="text-right">@orderCodesHoursSumText</td>
                @* Plánované hod *@
                @{
                    string totalHoursText = @item.PlannedHoursSum != 0 ? String.Format("{0:# ### ###} hod", item.PlannedHoursSum) : "";
                }
                <td scope="row" class="text-right">@totalHoursText</td>
                @* Využito *@
                @{
                    decimal currentVal = 0;
                    string tooltipText = "Nejsou zadány celkové hodiny";
                    string currentValStr = "0.00";
                    @* if (item.TotalHours.HasValue && item.TotalHours != 0) *@
                    if (item.PlannedHoursSum != 0)
                    {
                        currentVal = Convert.ToDecimal((decimal)item.OrderCodesHoursSum / item.PlannedHoursSum * 100);
                        currentValStr = String.Format("{0:0.00}", currentVal);
                        currentVal = (int)Math.Ceiling(currentVal);
                        tooltipText = $"Využito: {currentValStr} % </br> Hodin: {item.OrderCodesHoursSum} / {item.PlannedHoursSum}";
                    }
                    string backgroundClass = currentVal < 85 ? "bg-success" : (currentVal < 95 ? "bg-warning" : (currentVal == 100 ? "bg-primary" : "bg-danger"));

                    <td scope="row" data-toggle="tooltip" data-html="true" title="@tooltipText">
                        <span style="font-size: 0.8rem;">@currentValStr %</span>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar @backgroundClass" role="progressbar" style="width: @currentVal%;"></div>
                        </div>
                    </td>
                }
                @* Skutečné náklady *@
                <td scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.RealExpensesSum)</td>
                @* Celkové skut. náklady *@
                <td scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.RealExpensesAndOtherCostsSum)</td>
                @* Skutečně odčerpáno *@
                <td scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture(@item.SharedInfo.Currency.CultureCode), "{0:C0}", @item.RealExpensesUsedUpSum)</td>
                @* Poznámky *@
                <td scope="row" class="notesWrap" data-toggle="tooltip" data-html="true" title="@item.Notes">
                    @item.Notes
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal Confirm Delete-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání zakázky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalItemId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenId" />


@section scripts{
<script>

    // Reinitialize tooltips upon table change
    $('#table').on('post-body.bs.table', function () {  // on('all.bs.table'
        $('[data-toggle="tooltip"]').tooltip()
    });


    // POST delete command to controller
    //----------------------------------
    function DeleteItem() {
        var itemId = $("#hiddenId").val();
        $.ajax({
            url: '@Url.Action("Delete", "Orders")',
            type: "POST",
            data: { Id: itemId },
            //contentType: 'application/json; charset=utf-8',
            //dataType: 'json',
            //async: false,
            beforeSend: function (request) {
                request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
            },
            success: function (msg) {
                $("#myModal").modal("hide")
                //$("#row_" + itemId).remove();
                alert(msg);
                window.location = "Orders/Index"
            },
            error: function(jqxhr, status, exception) {
                alert("Nelze odstranit.");
                $("#myModal").modal("hide");
            }
        })
    }

    // MODAL dialog for delete confirmation
    //-------------------------------------
    var ConfirmDelete = function (ItemId) {
        $("#hiddenId").val(ItemId);
        $("#myModal").modal('show');
        $("#modalItemId").val( 'Hmm' + ItemId );
    };

    // Function to toggle Active/Disabled Contacts/Companies in table
    //---------------------------------------------------------------
    function ToggleActive() {
        var btn = document.getElementById("btnToggleActive");

        if (btn.children[0].className == "fa fa-eye-slash") {
            // Change icon and text
            btn.children[0].className = "fa fa-eye"
            btn.lastChild.nodeValue = " Všichni (@Model.Orders.Count())"
            var hiddenRows = document.querySelectorAll(".hide");
            console.log(hiddenRows);
            for(var i = 0; i < hiddenRows.length; i++){
                hiddenRows[i].className = "show hiddenBefore";
            }
        }
        else {
            // Change icon and text
            btn.children[0].className = "fa fa-eye-slash"
            btn.lastChild.nodeValue = " Aktivní (@Model.Orders.Count(m => m.Active) / @Model.Orders.Count())"
            var hiddenRows = document.querySelectorAll(".show.hiddenBefore");
            for(var i = 0; i < hiddenRows.length; i++){
                hiddenRows[i].className = "hide";
            }
        }
    }

    function idFormatter() {
        return 'Součet'
    }

    function footerStyle(row, index) {
        return {
            css: {
            "font-weight": "bold"
            }
        };
    };

</script>
}