@using System.Globalization;

@{
    ViewData["Title"] = "Zakázky";
}

@model IList<memo.Models.Order>

<style>
    .notesWrap {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .centerHeader {
        text-align: center;
    }
    @* .container {
        max-width: 1680px;
    } *@

    @* th {
        font-weight: 400;
    } *@

    .bootstrap-table .fixed-table-container .table thead th .sortable {
        padding-right: 20px!important;
    }

    .itemInactive {
        color: #9ba8b1;
    }
</style>


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nová zakázka</a>
    @* <a id="btnToggleActive" class="btn btn-outline-primary pull-right" onclick="ToggleActive()">
        <i class="fa fa-eye-slash"></i> Aktivní (@Model.Count(m => m.Active) / @Model.Count())
    </a> *@
    <button style="margin-right: 5px;" class="btn btn-outline-info" name="BtnMujFilter" id="BtnMujFilter" type="button">
        <i class="fa fa-filter"> Filter</i>
    </button>
</div>

<table
    id="table"
    class="table table-sm text-xsmall text-nowrap"
    @* style="width:100%" *@
    data-cookie="true"
    data-cookie-id-table="ordersTableCookie"
    data-filter-control="false"
    data-footer-style="footerStyle"
    data-show-search-clear-button="true"
    data-show-toggle="true"
    data-show-columns-toggle-all="true"
    data-show-columns="true"
    data-show-fullscreen="true"
    data-sort-name="DateCreated"
    data-sort-order="desc"
    data-search="true"
    data-silent-sort="true"
    data-show-footer="true"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-visible-search="true"
    @* data-reorderable-columns="true" *@
    @* data-show-pagination-switch="true" *@
    @* data-pagination="true" *@
    @* data-height="800" *@
    @* data-page-size="50" *@
    @* data-page-list="[10, 25, 50, 100, 200, All]" *@
    style="font-size: 0.9em;"
    >
    <thead>
        <tr>
            <th class="text-center" scope="col" data-field="0" data-sortable="true" data-filter-control="input" data-footer-formatter="idFormatter"  ><i class="fa fa-fw fa-ellipsis-v " aria-hidden="true"></i>Edit</th>
            <th class="text-center" scope="col" data-field="1" data-sortable="true" data-filter-control="input"><span data-toggle="tooltip" title="Aktivní / Neaktivní">A/N</span></th>
            <th class="text-center" scope="col" data-field="2" data-sortable="true" data-filter-control="input">Vytvořeno</th>
            <th class="text-center" scope="col" data-field="3" data-sortable="true" data-filter-control="input">Objednávka</th>
            <th class="text-center" scope="col" data-field="4" data-sortable="true" data-filter-control="input">Č. obj. zákazníka</th>
            <th class="text-center" scope="col" data-field="5" data-sortable="true" data-filter-control="input">Kód EVE<br />vykazování</th>
            <th class="text-center" scope="col" data-field="6" data-sortable="true" data-filter-control="input">Vedoucí<br />projektu</th>
            <th class="text-center" scope="col" data-field="7" data-sortable="true" data-filter-control="input">Plánované<br />hod</th>
            <th class="text-center" scope="col" data-field="8" data-sortable="true" data-filter-control="input">Termín vyst.<br />faktury</th>
            <th class="text-center" scope="col" data-field="9" data-footer-formatter="priceFormatterCz" data-sortable="true" data-filter-control="input">Konečná<br />cena [CZK]</th>
            <th class="text-center" scope="col" data-field="10" data-sortable="true" data-filter-control="input">Poznámky</th>
            <th class="text-center" scope="col" data-field="11" data-sortable="true" data-filter-control="input">Dodací list</th>
            <th class="text-center" scope="col" data-field="12" data-sortable="true" data-filter-control="select">Měna</th>
            <th class="text-center" scope="col" data-field="13" data-sortable="true" data-filter-control="input">Další<br />náklady</th>
            <th class="text-center" scope="col" data-field="14" data-sortable="true" data-filter-control="input">Hod.<br />sazba</th>
            <th class="text-center" scope="col" data-field="15" data-sortable="true" data-filter-control="input">Vyčerpáno</th>
            <th class="text-center" scope="col" data-field="16" data-footer-formatter="priceFormatterCz" data-sortable="true" data-filter-control="input">Přepočet [CZK]</th>
            @* <th class="text-center" scope="col" data-field="14" data-sortable="true" data-filter-control="input">Stav<br />plnění</th> *@
            <th class="text-center" scope="col" data-field="17" data-sortable="true" data-filter-control="input">Využito</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.OrderId" class="@(item.Active ? Html.Raw("itemActive") : Html.Raw("itemInactive"))">
            @* <tr id="row_@item.OrderId"> *@
                <th scope="row" data-field="0">
                    <a asp-action="Edit" asp-route-id=@item.OrderId><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a href="#" onclick="ConfirmDelete(@item.OrderId)"><i class="fa fa-times fa-fw" style="color: red;", aria-hidden="true"></i></a>
                </th>

                @* Status *@
                @if (item.Active is true)
                {
                    <th scope="row" class="text-center" data-toggle="tooltip" title="Aktivní">
                        <i class="fa fa-eye text-success" aria-hidden="true"></i>
                        @* <i class="fa fa-check-circle" style="color: #5abe58;" aria-hidden="true"></i> *@
                    </th>
                }
                else if (item.Active is false)
                {
                    <th scope="row" class="text-center" data-toggle="tooltip" title="Neaktivní">
                        <i class="fa fa-eye-slash" style="color: #8a97a2;" aria-hidden="true"></i>
                    </th>
                }

                <th scope="row" class="text-left">@String.Format("{0:yyyy-MM-dd}", @item.CreateDate)</th>
                <th scope="row" class="text-left">@item.Offer?.OfferName</th>
                <th scope="row" class="text-left">@item.OrderName</th>
                <th scope="row" class="text-center">@item.OrderCode</th>
                <th scope="row" class="text-left">@item.EveContactName</th>
                @{
                    string totalHoursText = @item.TotalHours is null ? "" : String.Format("{0:# 000} hod", item.TotalHours);
                    <th scope="row" class="text-right">@totalHoursText</th>
                }
                @* <th scope="row" class="text-right">@String.Format("{0:# 000}", item.TotalHours) hod</th> *@
                <th scope="row" class="text-center">@String.Format("{0:yyyy-MM-dd}", @item.InvoiceIssueDate)</th>
                <th scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C0}", @item.PriceFinalCzk)</th>
                <th scope="row" class="notesWrap" data-toggle="tooltip" data-html="true" title="@item.Notes">
                    @item.Notes
                </th>
                <th scope="row" class="text-center notesWrap" data-toggle="tooltip" title="@item.BillOfDelivery">@item.BillOfDelivery</th>
                <th scope="row" class="text-center">@item.Offer?.Currency.Name</th>
                <th scope="row" class="text-right">@String.Format(CultureInfo.CreateSpecificCulture(@item.Offer?.Currency.CultureCode), "{0:C0}", @item.OtherCosts)</th>
                <th scope="row" class="text-right">@String.Format(CultureInfo.CreateSpecificCulture(@item.Offer?.Currency.CultureCode), "{0:C0}", @item.HourWage)</th>
                @{
                    @* string burnedText = @item.Burned == 0 ? "" : $"{item.Burned} hod"; *@
                    string burnedText = @item.Burned == 0 ? "" : String.Format("{0:# } hod", item.Burned / 60);
                    <th scope="row" class="text-right">@burnedText</th>
                }
                <th scope="row" class="text-right">@string.Format(CultureInfo.CreateSpecificCulture("cs-CZ"), "{0:C0}", @item.Burned * @item.HourWage / 60 )</th>
                @* <th scope="row" class="text-right">@( String.Format("{0:0.00}", (float)item.Burned / 60 / item.TotalHours * 100) ) %</th> *@
                @{
                    float? currentVal = (float)item.Burned / 60 / item.TotalHours * 100;
                    currentVal = currentVal is null ? 0 : currentVal;
                    string backgroundClass = Convert.ToDecimal(currentVal) < 10 ? "bg-success" : "bg-danger";
                    string currentValStr = String.Format("{0:0.00}", currentVal);
                    string tooltipText = $"Využito: {currentValStr} % </br> Hodin: {item.Burned / 60} / {item.TotalHours}";
                    <th scope="row" data-toggle="tooltip" data-html="true" title="@tooltipText">
                        <div class="progress">
                            <div class="progress-bar @backgroundClass" role="progressbar" style="width: @currentValStr%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                @currentValStr %
                            </div>
                        </div>
                    </th>
                }

            </tr>
        }
    </tbody>
</table>









<!-- Modal Confirm Delete-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Smazání zakázky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                Opravdu smazat?
                <span id="modalItemId"></span>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Zpět</a>
                <a href="#" class="btn btn-danger" onclick="DeleteItem()">Smazat</a>
            </div>
        </div>
    </div>
</div>

@*hidden field for storing current Id*@
<input type="hidden" id="hiddenId" />


@section scripts{
<script>
    // POST delete command to controller
    //----------------------------------
    function DeleteItem() {
        var itemId = $("#hiddenId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Orders")',
            data: { Id: itemId },
            success: function () {
                $("#myModal").modal("hide")
                //$("#row_" + itemId).remove();
                window.location = "Orders/Index"
            },
            error: function() {
                alert("Tento zakázku nelze z nějakého důvodu odstranit...");
                $("#myModal").modal("hide");
            }
        })
    }

    // MODAL dialog for delete confirmation
    //-------------------------------------
    var ConfirmDelete = function (ItemId) {
        $("#hiddenId").val(ItemId);
        $("#myModal").modal('show');
        $("#modalItemId").val( 'Hmm' + ItemId );
    };

    // Function to toggle Active/Disabled Contacts/Companies in table
    //---------------------------------------------------------------
    function ToggleActive() {
        var btn = document.getElementById("btnToggleActive");

        if (btn.children[0].className == "fa fa-eye-slash") {
            // Change icon and text
            btn.children[0].className = "fa fa-eye"
            btn.lastChild.nodeValue = " Všichni (@Model.Count())"
            var hiddenRows = document.querySelectorAll(".hide");
            console.log(hiddenRows);
            for(var i = 0; i < hiddenRows.length; i++){
                hiddenRows[i].className = "show hiddenBefore";
            }

        }
        else {
            // Change icon and text
            btn.children[0].className = "fa fa-eye-slash"
            btn.lastChild.nodeValue = " Aktivní (@Model.Count(m => m.Active) / @Model.Count())"
            var hiddenRows = document.querySelectorAll(".show.hiddenBefore");
            for(var i = 0; i < hiddenRows.length; i++){
                hiddenRows[i].className = "hide";
            }
        }
    }

    function idFormatter() {
        return 'Total'
    }

    function nameFormatter(data) {
        return data.length
    }

    function priceFormatterCz(data) {
        var field = parseInt(this.field.replace(",", "").replace("&nbsp;", "").replace(" ", "").replace("Kč", ""));
        console.log(field);
        //var field = parseInt(this.field).val().replace(/[^0-9]/g, '')
        var vysledek = data.map(function (row) {
            var cost = parseInt(row[field]
                //.replace(/, (Kč)(&nbsp);/g, ''));
                .replace(",", "")
                .replace("&nbsp;", "")
                .replace(" ", "")
                .replace("Kč", ""));
            return + cost
        }).reduce(function (sum, i) {
            return sum + i
        }, 0)
        return vysledek.toLocaleString('cs-CZ') + ' Kč'
    }

    function priceFormatter(data) {
        var field = parseInt(this.field.replace(",", "").replace("&nbsp;", "").replace(" ", "").replace("Kč", ""));
        console.log(field);
        //var field = parseInt(this.field).val().replace(/[^0-9]/g, '')
        var vysledek = data.map(function (row) {
            var cost = parseInt(row[field]
                //.replace(/, (Kč)(&nbsp);/g, ''));
                .replace(",", "")
                .replace("&nbsp;", "")
                .replace(" ", "")
                .replace("Kč", ""));
            return + cost
        }).reduce(function (sum, i) {
            return sum + i
        }, 0)
        return vysledek
    }

    function footerStyle(row, index) {
        return {
            css: {
            "font-weight": "bold"
            }
        };
    };

    $(document).ready(function() {
        $('#example').DataTable();
    } );

</script>
}