@using System.Globalization

@model memo.ViewModels.OfferOrderVM

@{
    int i = (int)ViewData["i"];
}

<div class="mb-4 pt-4" style="border-top: 1px solid #0000000d;">
    <div class="row form-group justify-content-end">

        <input hidden="true" asp-for="@Model.Order.Invoices[i].InvoiceId" />

        <div class="col-lg-3 mycalendar">
            <span class="has-float-label">
                <input asp-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="form-control" type="text" autocomplete="off" data-id="@i" placeholder=" " />
                <label asp-for="@Model.Order.Invoices[i].InvoiceIssueDate">Termín vystavení</label>
            </span>
            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceIssueDate" class="text-danger"></span>
        </div>

        <div class="col-lg-3 mycalendar">
            <span class="has-float-label">
                <input asp-for="@Model.Order.Invoices[i].InvoiceDueDate" class="form-control" type="text" autocomplete="off" data-id="@i" placeholder=" " />
                <label asp-for="@Model.Order.Invoices[i].InvoiceDueDate">Splatnost faktury</label>
            </span>
            <span asp-validation-for="@Model.Order.Invoices[i].InvoiceDueDate" class="text-danger"></span>
        </div>

        <div class="col-lg-3">
            <span class="has-float-label">
                <input asp-for="@Model.Order.Invoices[i].Cost" class="form-control" type="text" placeholder=" " />
                <label asp-for="@Model.Order.Invoices[i].Cost">Částka [@Model.Order.SharedInfo.Currency.Name]</label>
            </span>
            <span asp-validation-for="@Model.Order.Invoices[i].Cost" class="text-danger"></span>
        </div>

        <div class="col-lg-1">
            <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteInvoice(@Model.Order.Invoices[i].InvoiceId)"><i class="fa fa-trash"></i></a>
        </div>

    </div>

    <div class="row form-group justify-content-end">
        <div class="col-lg-9">
            <span class="has-float-label">
                <input asp-for="@Model.Order.Invoices[i].DeliveryNote" class="form-control" type="text" placeholder="Cesta k dodacímu listu"/>
                <label asp-for="@Model.Order.Invoices[i].DeliveryNote">Dodací list</label>
            </span>
            <span asp-validation-for="@Model.Order.Invoices[i].DeliveryNote" class="text-danger"></span>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
