@using System.Globalization

@model memo.ViewModels.OfferOrderVM

<!-- Modal placeholder -->
@* <div id="modal-placeholder-@Model.IDOrder"></div> *@

<div class="row form-group justify-content-end" id="dynamic-row-order-codes-@Model.IDOrder">

    @* Needed for solving sending list to controller where [0, 1, 3, 4] would just send only [0, 1] *@
    <input type="hidden" name="Order.OrderCodes.Index" value="@Model.IDOrder" />

    <div class="col-lg-3">
        <span class="has-float-label">
            <div class="input-group">
                <input type="text" asp-for="@Model.Order.OrderCodes[Model.IDOrder].OrderCode" class="form-control" autocomplete="off" placeholder=" " />
                <div class="input-group-append" data-toggle="tooltip" title="Vyhledat kód">
                    <!-- Button to trigger modal -->
                    <button class="btn btn-light border" type="button" data-toggle="ajax-modal" data-target="#SearchForOrderCodeModal" data-url="@Url.Action("GetOrderCodes", "Orders", new { id = @Model.IDOrder })">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <label asp-for="@Model.Order.OrderCodes[Model.IDOrder].OrderCode">Kód vykazování</label>
        </span>
        <span asp-validation-for="@Model.Order.OrderCodes[Model.IDOrder].OrderCode" class="text-danger"></span>
    </div>

    <div class="col-lg-3">
        <span class="has-float-label">
            <input asp-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageSubject" class="form-control" type="text" autocomplete="off" placeholder=" "/>
            <label asp-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageSubject">Popis hod. mzdy</label>
        </span>
        <span asp-validation-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageSubject" class="text-danger"></span>
    </div>

    <div class="col-lg-3">
        <span class="has-float-label">
            <input asp-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageCost" class="form-control" type="text" placeholder=" "/>
            <label asp-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageCost">Hod. mzda</label>
        </span>
        <span asp-validation-for="@Model.Order.OrderCodes[Model.IDOrder].HourWageCost" class="text-danger"></span>
    </div>

    <div class="col-lg-1">
        @* <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" data-original-title="Odstranit záznam" onclick="DeleteOrderCode(@Model.IDOrder)">
            <i class="fa fa-trash"></i>
        </a> *@
        <a href="javascript:void(0)" class="btn btn-danger btn-sm mt-1" data-toggle="tooltip" title="Odstranit záznam" onclick="DeleteOrderCode(@Model.IDOrder)">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>
